@model _170516.Models.IndexViewModel
@{
    ViewBag.Title = "Trang Chủ";
}

<div class="index-content-wrapper container-fluid">
    <!-- header-container end -->
    <div class="banner clearfix">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2>Warm welcome</h2>
                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                <a href="#" class="da-link">Read more</a>
                <div class="da-img"><img src="~/Content/Image/slider/4.png" alt="image01" /></div>
            </div>
            <div class="da-slide">
                <h2>Easy management</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <a href="#" class="da-link">Read more</a>
                <div class="da-img"><img src="~/Content/Image/slider/3.png" alt="image01" /></div>
            </div>
            <div class="da-slide">
                <h2>Revolution</h2>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <a href="#" class="da-link">Read more</a>
                <div class="da-img"><img src="~/Content/Image/slider/2.png" alt="image01" /></div>
            </div>
            <div class="da-slide">
                <h2>Quality Control</h2>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                <a href="#" class="da-link">Read more</a>
                <div class="da-img"><img src="~/Content/Image/slider/1.png" alt="image01" /></div>
            </div>
            <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </nav>
        </div>
    </div>

    <div id="page-start"></div>

    <section class="pv-30">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">GIỚI THIỆU</h2>
                    <div class="separator"></div>
                    <p class="large text-left">Tổng Công ty Cổ phần Đầu tư DHC (DHC) được thành lập vào tháng 9, 2012 tại thành phố Đà Nẵng, xuất phát từ những cổ đông cùng chung ý tưởng xây dựng tại Việt Nam một “Ngôi nhà mơ ước”. </p>
                    <br>
                </div>
            </div>
        </div>
        <div class="content-slider-with-large-controls" style="opacity: 1; display: block;">
            <div class="container" style="margin-left: auto;">
                <div class="row">
                    <div class="col-md-6">
                        <img src="http://dhcgroup.vn/Content/UserFiles/Images/ProductMore/nha-don-khach.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <p>DHC đã nhanh chóng đầu tư vào các dự án lớn tại khu vực cũng như luôn tìm kiếm những cơ hội đầu tư khác trong và ngoài nước. Với quan niệm kinh doanh lâu dài, bền vững dựa trên nền tảng uy tín rõ ràng, DHC luôn chào đón các đối tác trong và ngoài nước cùng hợp tác phát triển, tham gia dự án, kết nối đầu tư trên cơ sở bình đẳng, thân thiện và hài hòa về lợi ích. Đây cũng chính là động lực thúc đẩy việc đa dạng hóa sản phẩm, đa dạng hóa ngành nghề trên mọi phương diện, mọi lĩnh vực.</p>
                        <div class="media">
                            <div class="media-left pr-20">
                                <a href="#">
                                    <span class="icon circle small default-bg"><i class="fa fa-chevron-right"></i> </span>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Cực Kỳ Linh Động</h4>
                                Cras sit amet nibh libero, in gravida nulla. Sollicitudin.
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left pr-20">
                                <a href="#">
                                    <span class="icon circle small default-bg"><i class="fa fa-chevron-right"></i> </span>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Dịch Vụ Phong Phú</h4>
                                Cras sit amet nibh libero. Nulla vel metus scelerisque.
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left pr-20">
                                <a href="#">
                                    <span class="icon circle small default-bg"><i class="fa fa-chevron-right"></i> </span>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Hỗ Trợ 24/7</h4>
                                Cras sit amet nibh libero. Nulla vel metus scelerisque.
                            </div>
                        </div>
                        <p><a href="@Url.Action("About","Home")" class="btn btn-default btn-animated">Xem Tiếp <i class="fa fa-arrow-right pl-10"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pv-40 section light-gray-bg clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">SẢN PHẨM NỔI BẬT</h2>
                    <div class="separator"></div>
                    <p class="large text-center">Cras sit amet nibh libero, in gravida nulla. Sollicitudin.</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="product-container">
                        <ul class="nav nav-pills" role="tablist">
                            <li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="Sản phẩm mới nhất"><i class="icon-star"></i> Mới Nhất</a></li>
                            <li><a href="#pill-2" role="tab" data-toggle="tab" title="Sản phẩm nổi bật"><i class="icon-heart"></i> Nổi Bật</a></li>
                            <li><a href="#pill-3" role="tab" data-toggle="tab" title="Sản phẩm bán chạy"><i class=" icon-up-1"></i> Bán Chạy</a></li>
                        </ul>
                        <div class="tab-content clear-style">
                            <div class="tab-pane active" id="pill-1">
                                <div class="masonry-grid-fitrows grid-space-10" style="position: relative;">
                                    <ul class="products">
                                        @foreach (var product in Model.LatestProducts)
                                        {
                                            <li class="list-group mansory-grid-li products-li">
                                                <div class="item">
                                                    <div class="masonry-grid-item">
                                                        <div class="listing-item white-bg bordered mb-20">
                                                            <div class="overlay-container">
                                                                @if (string.IsNullOrWhiteSpace(product.ImageSrc))
                                                                {
                                                                    <img src="http://placehold.it/350x350" alt="">
                                                                }
                                                                else
                                                                {
                                                                    <img src="@product.ImageSrc" alt="">
                                                                }
                                                                <a class="overlay-link popup-img-single" href="http://htmlcoder.me/preview/the_project/v.1.2/template/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                                                @if (product.Discount > 0)
                                                                {
                                                                    <span class="badge">@product.Discount %</span>
                                                                }

                                                                <div class="overlay-to-top links">
                                                                    <span class="small">
                                                                        @for (var i = 0; i < 5; i++)
                                                                        {
                                                                            if (i > product.Rate)
                                                                            {
                                                                                <a href="#"><i class="fa fa-heart-o pr-10"></i></a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="#"><i class="fa fa-heart pr-10"></i></a>
                                                                            }
                                                                        }
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="body">
                                                                <h3><a href="shop-product.html">@product.Name</a></h3>
                                                                <p class="small">@product.Summary</p>
                                                                <div class="elements-list clearfix">
                                                                    <span class="price"><del>@product.Price.ToString("N") đ</del></span>
                                                                </div>
                                                                <div class="elements-list clearfix">
                                                                    <span class="price">@product.DiscountedPrice.ToString("N") đ</span>
                                                                    <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Thêm vào giỏ<i class="fa fa-shopping-cart"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="pill-2">
                                <div class="masonry-grid-fitrows grid-space-10" style="position: relative;">
                                    <ul class="products">
                                        @foreach (var product in Model.TopRatedProducts)
                                        {
                                            <li class="list-group mansory-grid-li products-li">
                                                <div class="item">
                                                    <div class="masonry-grid-item">
                                                        <div class="listing-item white-bg bordered mb-20">
                                                            <div class="overlay-container">
                                                                @if (string.IsNullOrWhiteSpace(product.ImageSrc))
                                                                {
                                                                    <img src="http://placehold.it/350x350" alt="">
                                                                }
                                                                else
                                                                {
                                                                    <img src="@product.ImageSrc" alt="">
                                                                }
                                                                <a class="overlay-link popup-img-single" href="http://htmlcoder.me/preview/the_project/v.1.2/template/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                                                @if (product.Discount > 0)
                                                                {
                                                                    <span class="badge">@product.Discount %</span>
                                                                }

                                                                <div class="overlay-to-top links">
                                                                    <span class="small">
                                                                        @for (var i = 0; i < 5; i++)
                                                                        {
                                                                            if (i > product.Rate)
                                                                            {
                                                                                <a href="#"><i class="fa fa-heart-o pr-10"></i></a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="#"><i class="fa fa-heart pr-10"></i></a>
                                                                            }
                                                                        }
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="body">
                                                                <h3><a href="shop-product.html">@product.Name</a></h3>
                                                                <p class="small">@product.Summary</p>
                                                                <div class="elements-list clearfix">
                                                                    <span class="price"><del>@product.Price.ToString("N") đ</del></span>
                                                                </div>
                                                                <div class="elements-list clearfix">
                                                                    <span class="price">@product.DiscountedPrice.ToString("N") đ</span>
                                                                    <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Thêm vào giỏ<i class="fa fa-shopping-cart"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="pill-3">
                                <div class="masonry-grid-fitrows grid-space-10" style="position: relative;">
                                    <ul class="products">
                                        @foreach (var product in Model.BestSellerProducts)
                                        {
                                            <li class="list-group mansory-grid-li products-li">
                                                <div class="item">
                                                    <div class="masonry-grid-item">
                                                        <div class="listing-item white-bg bordered mb-20">
                                                            <div class="overlay-container">
                                                                @if (string.IsNullOrWhiteSpace(product.ImageSrc))
                                                                {
                                                                    <img src="http://placehold.it/350x350" alt="">
                                                                }
                                                                else
                                                                {
                                                                    <img src="@product.ImageSrc" alt="">
                                                                }
                                                                <a class="overlay-link popup-img-single" href="http://htmlcoder.me/preview/the_project/v.1.2/template/images/product-1.jpg"><i class="fa fa-search-plus"></i></a>
                                                                @if (product.Discount > 0)
                                                                {
                                                                    <span class="badge">@product.Discount %</span>
                                                                }

                                                                <div class="overlay-to-top links">
                                                                    <span class="small">
                                                                        @for (var i = 0; i < 5; i++)
                                                                        {
                                                                            if (i > product.Rate)
                                                                            {
                                                                                <a href="#"><i class="fa fa-heart-o pr-10"></i></a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="#"><i class="fa fa-heart pr-10"></i></a>
                                                                            }
                                                                        }
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="body">
                                                                <h3><a href="shop-product.html">@product.Name</a></h3>
                                                                <p class="small">@product.Summary</p>
                                                                <div class="elements-list clearfix">
                                                                    <span class="price"><del>@product.Price.ToString("N") đ</del></span>
                                                                </div>
                                                                <div class="elements-list clearfix">
                                                                    <span class="price">@product.DiscountedPrice.ToString("N") đ</span>
                                                                    <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Thêm vào giỏ<i class="fa fa-shopping-cart"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Home/index.js")"></script>
}


