@model _170516.Models.ProductIndexModel
@{
    ViewBag.Title = "Trang Chủ";
}

<div class="col-lg-3 col-md-3 col-sm-4">
    <!-- menu -->
    <div class="main clearfix">
        <div id="dl-menu" class="dl-menuwrapper">
            <ul class="dl-menu">
                @foreach (var item in Model.Menu)
                {
                    <li>
                        <a href="#" data-id="@item.CategoryId">@item.CategoryName</a>
                        @if (item.SubCategoryList != null && item.SubCategoryList.Any())
                        {
                            <ul class="dl-submenu">
                                <li><a href="#"></a></li>
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-8 content-box">
    <div class="hero_wrapper">
        <img src="http://www.reuven-gth.com/wp-content/uploads/2013/11/constructionBanner.jpg">
        <div class="hero-unit hero_info">
            <h1>VẬT LIỆU XÂY DỰNG</h1>
            <p class="lead">Tiết kiệm thời gian, mua vật liệu xây dựng tương lai và nhận hàng ngay tại nhà.</p>
        </div>
    </div>
    <div class="hero_heading">
        <h2>Danh mục sản phẩm</h2>
    </div>
    <div class="row">
        @foreach (var category in Model.Menu)
        {
            <div class="col-md-4">
                <h4>@category.CategoryName</h4>
                <img src="@category.ImageSrc" />
                <p>@category.Description</p>

                @if (category.SubCategoryList.Count > 0)
                {
                    <ul>
                        @foreach (var subCategory in category.SubCategoryList)
                        {
                            <li><a href="@Url.Action("ShowProduct", "Product", new {id=subCategory.CategoryId})">@subCategory.CategoryName</a></li>
                        }
                    </ul>
                }

            </div>
        }
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Home/index.js")"></script>
}
