<!-- put the cart in here -->
@model _170516.Models.CartViewModel
<table class="table table-hover">
    <thead>
        <tr>
            <th class="quantity">Số lượng</th>
            <th class="product">Sản phẩm</th>
            <th class="amount">Tổng tiền</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Products.Any())
        {
            foreach (var item in Model.Products)
            {
                <tr>
                    <td class="quantity">@item.Quantity</td>
                    <td class="product"><a href="@Url.Action("ViewProductDetail","Product", new {id = @item.ProductId })">@item.ProductName</a><span class="small"></span></td>
                    <td class="amount">@item.Price.ToString("0.##") đ</td>
                </tr>
            }
        }
        <tr>
            <td class="total-quantity" colspan="2">Có @Model.Products.Count sản phẩm trong giỏ hàng</td>
            <td class="total-amount">@Model.GrandTotal.ToString("0.##") đ</td>
        </tr>
    </tbody>
</table>
<div class="panel-body text-right">
    <a href="@Url.Action("ViewCart","Product")" class="btn btn-group btn-gray btn-sm">Giỏ Hàng</a>
    <a href="@Url.Action("Checkout","Product")" class="btn btn-group btn-gray btn-sm">Thanh Toán</a>
</div>