@model _170516.Models.CheckoutModel

@{
    ViewBag.Title = "Thông tin đơn hàng";
}
<div class="index-content-wrapper container-fluid">
    <div class="banner dark-translucent-bg non-background">
        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                    <li class="active">Thanh Toán</li>
                </ol>
            </div>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "checkoutConfirmationForm" }))
            {
                <div class="main col-md-12">
                    <h1 class="page-title">Thông tin đơn hàng</h1>
                    <div class="separator-2"></div>
                    <table class="table cart">
                        <thead>
                            <tr>
                                <th>Tên sản phẩm </th>
                                <th>Giá </th>
                                <th>Số lượng</th>
                                <th class="amount">Tổng Cộng </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Cart.Products.Any())
                            {
                                for (int i = 0; i < Model.Cart.Products.Count; i++)
                                {
                                    <tr>
                                        @Html.HiddenFor(model => model.Cart.Products[i].ProductId)
                                        @Html.HiddenFor(model => model.Cart.Products[i].ProductName)
                                        @Html.HiddenFor(model => model.Cart.Products[i].Price)
                                        @Html.HiddenFor(model => model.Cart.Products[i].Quantity)
                                        @Html.HiddenFor(model => model.Cart.Products[i].Total)
                                        <td class="product"><a href="@Url.Action("ViewProductDetail", "Product", new { id = Model.Cart.Products[i].ProductId })">@Model.Cart.Products[i].ProductName</a> <small></small></td>
                                        <td class="price">
                                            @Html.DisplayFor(model => model.Cart.Products[i].Price, new { Value = String.Format("{0:0}", Model.Cart.Products[i].Price) })
                                        </td>
                                        <td class="quantity">
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Cart.Products[i].Quantity, new { @class = "form-control", @disabled = "" })
                                            </div>
                                        </td>
                                        <td class="amount">
                                            @Html.DisplayFor(model => model.Cart.Products[i].Total, new { Value = String.Format("{0:0}", Model.Cart.Products[i].Price) })
                                        </td>
                                    </tr>
                                    }
                                }
                            
                            <tr>
                                <td class="total-quantity" colspan="3">@Model.Cart.Products.Count sản phẩm</td>
                                <td class="total-amount">
                                    @Html.DisplayFor(model => model.Cart.GrandTotal, new { Value = String.Format("{0:0}", Model.Cart.GrandTotal) })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="space-bottom"></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Thông tin thanh toán</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Họ và tên</td>
                                @Html.HiddenFor(model => model.Customer.FullName)
                                <td class="information">@Html.DisplayTextFor(model => model.Customer.FullName) </td>
                            </tr>
                            <tr>
                                <td>Số điện thoại</td>
                                @Html.HiddenFor(model => model.Customer.Phone)
                                <td class="information">@Html.DisplayTextFor(model => model.Customer.Phone)  </td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                @Html.HiddenFor(model => model.Customer.EmailAddress)
                                <td class="information">@Html.DisplayTextFor(model => model.Customer.EmailAddress)  </td>
                            </tr>
                            <tr>
                                <td>Địa chỉ</td>
                                @Html.HiddenFor(model => model.Customer.Address)
                                @Html.HiddenFor(model => model.Customer.District)
                                @Html.HiddenFor(model => model.Customer.City)
                                <td class="information">@string.Format("{0} - {1} - {2}", Model.Customer.Address, Model.Customer.District, Model.Customer.City)</td>
                            </tr>
                            <tr>
                                <td>Additional Info</td>
                                @Html.HiddenFor(model => model.Customer.AdditionalInformation)
                                <td class="information">@Html.DisplayTextFor(model => model.Customer.AdditionalInformation) </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="space-bottom"></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan = "2" > Thông tin vận chuyển</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Họ và tên</td>                                
                                <td class="information">@Html.DisplayTextFor(model => model.Customer.FullName) </td>
                            </tr>
                            <tr>
                                <td>Số điện thoại</td>
                                @Html.HiddenFor(model => model.Customer.ShipPhone)
                                <td class="information">@Html.DisplayTextFor(model => model.Customer.ShipPhone)  </td>
                            </tr>
                            <tr>
                                <td>Địa chỉ</td>
                                @Html.HiddenFor(model => model.Customer.ShipAddress)
                                @Html.HiddenFor(model => model.Customer.ShipDistrict)
                                @Html.HiddenFor(model => model.Customer.ShipCity)
                                <td class="information">@string.Format("{0} - {1} - {2}", Model.Customer.ShipAddress, Model.Customer.ShipDistrict, Model.Customer.ShipCity)</td>
                            </tr>
                            @Html.HiddenFor(model => model.Customer.SameInfoForShipping)
                        </tbody>
                    </table>
                    <div class="space-bottom"></div>
                    @*<table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">Payment </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Credit Card</td>
                                <td class="information">Visa ***917 </td>
                            </tr>
                        </tbody>
                    </table>*@
                    <div class="text-right">
                        <a href="@Url.Action("Checkout","Product")" class="btn btn-group btn-default"><i class="icon-left-open-big"></i> Trở lại</a>
                        <button id="btnPlaceOrder" type="button" class="btn btn-group btn-default"><i class="icon-check"></i> Đặt hàng</button>
                    </div>
                </div>
            }
                
            </div>
        </div>
    </section>
</div>
