@model _170516.Models.CheckoutModel

@{
    ViewBag.Title = "Thanh Toán";
}

<div class="index-content-wrapper container-fluid">
    <div class="banner dark-translucent-bg non-background">
        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                    <li class="active">Thanh Toán</li>
                </ol>
            </div>
        </div>
    </div>

    <section class="main-container">

        <div class="container">
            <div class="row">
                @using (Html.BeginForm("Checkout","Product",FormMethod.Post, new { @id = "checkoutForm" }))
                {
                    <div class="main col-md-12">
                        <h1 class="page-title">Thanh Toán</h1>
                        <div class="separator-2"></div>
                        <table class="table cart">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm </th>
                                    <th>Giá </th>
                                    <th>Số lượng</th>
                                    <th class="amount">Tổng Cộng </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Cart.Products.Any())
                                {
                                    for (int i = 0; i < Model.Cart.Products.Count; i++)
                                    {
                                        <tr class="remove-data">
                                            @Html.HiddenFor(model => model.Cart.Products[i].ProductId)
                                            @Html.HiddenFor(model => model.Cart.Products[i].ProductName)
                                            @Html.HiddenFor(model => model.Cart.Products[i].Price)                                            
                                            @Html.HiddenFor(model => model.Cart.Products[i].Total)
                                            <td class="product product-name"><a href="@Url.Action("ViewProductDetail", "Product", new { id = Model.Cart.Products[i].ProductId })">@Model.Cart.Products[i].ProductName</a> <small></small></td>
                                            <td class="price">
                                                @Html.DisplayFor(model => model.Cart.Products[i].Price, new { Value = String.Format("{0:0}", Model.Cart.Products[i].Price) })
                                            </td>
                                            <td class="quantity">
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Cart.Products[i].Quantity, new { @class = "form-control product-quantity-input"})
                                                    <span class="input-error-box text-danger" id="error-pro-@Model.Cart.Products[i].ProductId"></span>
                                                </div>
                                            </td>
                                            <td class="amount">@Html.DisplayFor(model => model.Cart.Products[i].Total, new { Value = String.Format("{0:0}", Model.Cart.Products[i].Price) })</td>
                                        </tr>
                                    }
                                }                                
                                <tr>
                                    <td class="total-quantity" colspan="3">@Model.Cart.Products.Count sản phẩm</td>
                                    <td class="total-amount">
                                        @Html.HiddenFor(model => model.Cart.GrandTotal)
                                        @Html.DisplayFor(model => model.Cart.GrandTotal, new { Value = String.Format("{0:0}", Model.Cart.GrandTotal) })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="space-bottom"></div>
                        <fieldset>
                            <legend>Thông tin thanh toán</legend>
                            <div role="form" class="form-horizontal" id="billing-information">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <h3 class="title">Khách Hàng</h3>
                                    </div>
                                    <div class="col-lg-8 col-lg-offset-1">
                                        <div class="form-group">
                                            <label for="billingName" class="col-md-2 control-label">Họ và Tên<small class="text-default">*</small></label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Customer.FullName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Customer.FullName, null, new { @class = "input-error-box text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="billingTel" class="col-md-2 control-label">Số điện thoại<small class="text-default">*</small></label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Customer.Phone, new { @class = "form-control"})
                                                @Html.ValidationMessageFor(model => model.Customer.Phone, null, new { @class = "input-error-box text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="billingemail" class="col-md-2 control-label">Địa chỉ email<small class="text-default">*</small></label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Customer.EmailAddress, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Customer.EmailAddress, null, new { @class = "input-error-box text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="space"></div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <h3 class="title">Địa chỉ của bạn</h3>
                                    </div>
                                    <div class="col-lg-8 col-lg-offset-1">
                                        <div class="form-group">
                                            <label for="billingAddress1" class="col-md-2 control-label">Địa chỉ<small class="text-default">*</small></label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Customer.Address, new { @class = "form-control"})
                                                @Html.ValidationMessageFor(model => model.Customer.Address, null, new { @class = "input-error-box text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="billingAddress1" class="col-md-2 control-label">Phường/Huyện<small class="text-default">*</small></label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Customer.District, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Customer.District, null, new { @class = "input-error-box text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="billingCity" class="col-md-2 control-label">Thành phố/Tỉnh<small class="text-default">*</small></label>
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Customer.City, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Customer.City, null, new { @class = "input-error-box text-danger" })
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <label for="billingPostalCode" class="col-md-2 control-label">Zip Code<small class="text-default">*</small></label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="billingPostalCode" value="Postal Code">
                                                    <span class="input-error-box text-danger"></span>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="space"></div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <h3 class="title">Thông tin thêm</h3>
                                    </div>
                                    <div class="col-lg-8 col-lg-offset-1">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.TextAreaFor(model => model.Customer.AdditionalInformation, new { @class = "form-control", @rows = "4" })
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Thông tin cho nhà vận chuyển</legend>
                            <div role="form" class="form-horizontal" id="shipping-information-container">
                                <div id="shipping-information" class="space-bottom" style="display:none">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h3 class="title">Thông tin vận chuyển đến</h3>
                                        </div>
                                        <div class="col-lg-8 col-lg-offset-1">
                                            <div class="form-group">
                                                <label for="shippingAddress1" class="col-md-2 control-label">Địa chỉ<small class="text-default">*</small></label>
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(model => model.Customer.ShipAddress, new { @class = "form-control"})
                                                    <span class="input-error-box text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="shippingDistrict" class="col-md-2 control-label">Phường/Huyện<small class="text-default">*</small></label>
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(model => model.Customer.ShipDistrict, new { @class = "form-control" })
                                                    <span class="input-error-box text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="shippingCity" class="col-md-2 control-label">Thành phố/Tỉnh<small class="text-default">*</small></label>
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(model => model.Customer.ShipCity, new { @class = "form-control" })
                                                    <span class="input-error-box text-danger"></span>
                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                                    <label for="shippingPostalCode" class="col-md-2 control-label">Zip Code<small class="text-default">*</small></label>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="shippingPostalCode" value="Postal Code">
                                                        <span class="input-error-box text-danger"></span>
                                                    </div>
                                                </div>*@

                                            <div class="form-group">
                                                <label for="shippingPhone" class="col-md-2 control-label">Số điện thoại<small class="text-default">*</small></label>
                                                <div class="col-md-10">
                                                    @Html.TextBoxFor(model => model.Customer.ShipPhone, new { @class = "form-control" })
                                                    <span class="input-error-box text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkbox padding-top-clear">
                                    <label>
                                        @Html.CheckBoxFor(model => model.Customer.SameInfoForShipping, new { @id = "shipping-info-check" }) Địa chỉ chuyển đến chính là địa chỉ của tôi
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="text-right">
                            <a href="@Url.Action("ViewCart","Product")" class="btn btn-group btn-default"><i class="icon-left-open-big"></i> Giỏ hàng</a>
                            <button id="btnCheckout" type="button" class="btn btn-group btn-default">Hoàn thành <i class="icon-right-open-big"></i></button>
                        </div>

                    </div>
                <!-- main end -->
                }


            </div>
        </div>
    </section>
</div>