@model _170516.Models.ProductIndexModel
@{
    ViewBag.Title = "Sản Phẩm";
}

<div class="col-lg-3 col-md-3 col-sm-4">
    <!-- menu -->
    <div class="clearfix">
        <div id="dl-menu" class="dl-menuwrapper">
            <ul class="dl-menu">
                @foreach (var item in Model.Menu)
                {
                    <li>
                        <a href="#" data-id="@item.CategoryId">@item.CategoryName</a>
                        @if (item.SubCategoryList != null && item.SubCategoryList.Any())
                        {
                            <ul class="dl-submenu">
                                <li><a href="#"></a></li>
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-9 col-md-9 col-sm-8 content-box">
    <div class="container-fluid main-content-wrapper">
        <div class="banner">
            <img src="http://mlmonline.in/wp-content/uploads/2016/03/web-banner.jpg" />
        </div>
        <h3 style="color:#2b3e50;">Danh Mục Sản Phẩm</h3>
        <div id="ShowCaseDiv">
            <ul class="products">
                @for (var i = 0; i < Model.MenuOnMainPage.Count; i++)
            {
                    <li class="list-group">
                        <div class="item">
                            <div class="thumbnail list-group-item''">
                                @if (!string.IsNullOrEmpty(Model.MenuOnMainPage[i].ImageSrc))
                                {
                                    <img class="group list-group-image" src="@Model.MenuOnMainPage[i].ImageSrc" alt="" />
                                }
                                else
                                {
                                    <img class="group list-group-image" src="~/Content/Image/image_placeholder.jpg" alt="" />
                                }
                                <div class="caption">
                                    <div class="caption-header">
                                        <span class="group inner list-group-item-heading">
                                            @Model.MenuOnMainPage[i].CategoryName
                                        </span>
                                    </div>
                                    @*<p class="group inner list-group-item-text">

                                        </p>*@
                                    <div class="row">
                                        @if (Model.MenuOnMainPage[i].SubCategoryList.Count > 0)
                                        {
                                            <ul class="thumbnail-ul">
                                                @foreach (var subCategory in Model.MenuOnMainPage[i].SubCategoryList)
                                                {
                                                    <li><a href="@Url.Action("ViewCategory", "Product", new { id = subCategory.CategoryId })">@subCategory.CategoryName</a></li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Home/index.js")"></script>
}


