@model _170516.Models.ShowcaseProductDetail
@{
    ViewBag.Title = Model.ProductName;
}

<div class="index-content-wrapper container-fluid">
    <div class="banner dark-translucent-bg banner-without-image">
        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                    <li><a class="link-dark" href="@Url.Action("Showcase","Product")">Sản Phẩm</a></li>
                    <li class="active">@Model.ProductName</li>
                </ol>
            </div>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    @Html.HiddenFor(model => model.ProductID)
                    <h1 class="page-title">@Model.ProductName</h1>
                    <div class="separator-2"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="nav nav-pills" role="tablist">
                                <li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="images"><i class="fa fa-camera pr-5"></i> Ảnh Sản Phẩm</a></li>
                            </ul>
                            <div class="tab-content clear-style">
                                <div class="tab-pane active" id="pill-1">
                                    <div class="owl-carousel content-slider-with-large-controls">
                                        <div class="overlay-container overlay-visible">
                                            @if (string.IsNullOrWhiteSpace(Model.ImageSrc))
                                            {
                                            <img src="~/Content/Image/image_placeholder.jpg" alt="">
                                            <a href="#" class="popup-img overlay-link" title="image title"><i class="fa fa-search-plus"></i></a>
                                            }
                                            else
                                            {
                                            <img src="@Model.ImageSrc" alt="">
                                            <a href="@Model.ImageSrc" class="popup-img overlay-link" title="image title"><i class="fa fa-search-plus"></i></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 pv-30">
                            <h2>Mô Tả</h2>
                            <p>@Model.ProductSummary</p>
                            <hr class="mb-10">
                            <div class="row grid-space-10">
                                <form role="form" class="clearfix">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Số Lượng</label>
                                            <input type="number" id="productInCartQuantity" class="form-control" value="1">
                                            <span class="input-error-box text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="clearfix mb-20">
                                            <ul class="pl-20 pull-right social-links circle small clearfix margin-clear animated-effect-1" style="padding-top: 30px;">
                                                <li class="twitter"><a target="_blank" href="http://www.twitter.com" style="color: #55acee;"><i class="fa fa-twitter"></i></a></li>
                                                <li class="googleplus"><a target="_blank" href="http://plus.google.com" style="color: #dd4b39;"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="facebook"><a target="_blank" href="http://www.facebook.com" style="color: #3b5998;"><i class="fa fa-facebook"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="light-gray-bg p-20 bordered clearfix">
                                <span class="product price"><i class="fa fa-tag pr-10"></i>@Model.DiscountedPrice.ToString("N0") đ</span>
                                @if (Model.Discount > 0)
                                {
                                <span class="product price" style="margin-left: 5px;color: #7f8c8d;font-size: 15px;"><del>@Model.Price.ToString("N0") đ</del></span>
                                }
                                <div class="product elements-list pull-right clearfix">
                                    <button id="addToCartBtn" class="btn btn-default btn-animated add-to-cart"><i class="fa fa-cart-plus"></i> Thêm vào giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pv-30 light-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="nav nav-tabs style-4" role="tablist">
                        <li class="active"><a href="#h2tab1" role="tab" data-toggle="tab"><i class="fa fa-star pr-5"></i>Thông Tin Thêm</a></li>
                        <li><a href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-5"></i>Thông Số</a></li>
                        <li><a href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-5"></i>Bình Luận (@Model.CommentCount)</a></li>
                    </ul>
                    <div class="tab-content padding-top-clear padding-bottom-clear">
                        <div class="tab-pane fade in active" id="h2tab1">
                            <!-- Thông tin thêm -->
                            @Html.Raw(Model.ProductDescription)
                        </div>
                        <div class="tab-pane fade" id="h2tab2">
                            <!-- Đặc điểm -->
                            <h4 class="space-top">Đặc Điểm</h4>
                            <hr>
                            <dl class="dl-horizontal">
                                @foreach (var specification in Model.SpecificationList.Where(s => !s.IsSize))
                                {
                                <dt>@specification.Name</dt>
                                <dd>@specification.Value</dd>
                                }
                            </dl>

                            <!-- Kích Thước -->
                            <h4 class="space-top">Kích Thước</h4>
                            <hr>
                            <dl class="dl-horizontal">
                                @foreach (var specification in Model.SpecificationList.Where(s => s.IsSize))
                                {
                                <dt>@specification.Name</dt>
                                <dd>@specification.Value</dd>
                                }
                            </dl>
                        </div>
                        <div class="tab-pane fade" id="h2tab3">
                            <div id="comment-list-wrapper">
                                @{Html.RenderAction("GetCommentList", "Product", new { id = Model.ProductID });}
                            </div>

                            <div class="comments-form">
                                <h2 class="title">Ý Kiến Của Bạn</h2>
                                <form role="form" id="comment-form">
                                    <input type="hidden" id="SubmitComment_CommentType" value="Product" />
                                    <input type="hidden" id="SubmitComment_CommentId" />
                                    <input type="hidden" id="SubmitComment_ObjectId" value="@Model.ProductID" />
                                    <div class="form-group has-feedback">
                                        <label for="SubmitComment_Name">Họ và Tên</label>
                                        @Html.TextBoxFor(m => m.SubmitComment.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.SubmitComment.Name)
                                        <i class="fa fa-user form-control-feedback"></i>
                                    </div>
                                    <div class="form-group has-feedback" id="title_div">
                                        <label for="SubmitComment_Title">Tiêu Đề</label>
                                        @Html.TextBoxFor(m => m.SubmitComment.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.SubmitComment.Title)
                                        <i class="fa fa-pencil form-control-feedback"></i>
                                    </div>
                                    <div class="form-group" id="rating_div">
                                        <label>Đánh Giá</label>
                                        <select class="form-control" id="SubmitComment_Rating">
                                            <option value="5">5</option>
                                            <option value="4">4</option>
                                            <option value="3">3</option>
                                            <option value="2">2</option>
                                            <option value="1">1</option>
                                        </select>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="SubmitComment_Content">Nội Dung</label>
                                        @*<textarea class="form-control" rows="8" id="SubmitComment_Content" placeholder="" name="SubmitComment_Content" required=""></textarea>*@
                                        @Html.TextAreaFor(m => m.SubmitComment.Content, new { @class = "form-control", @rows = "8" })
                                        @Html.ValidationMessageFor(m => m.SubmitComment.Content)
                                        <i class="fa fa-envelope-o form-control-feedback"></i>
                                    </div>
                                    <input type="button" id="btnCommentSubmit" value="Bình Luận" class="btn btn-default">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="sidebar">
                        @{Html.RenderAction("GetSimilarProductPartial", "Product", new { id = Model.ProductID });}
                    </div>
                </aside>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
<script>
    var reloadCommentList = function (id) {
        $.ajax({
            url: staticUrl.GetCommentList + "?id=" + id,
            async: true,
            method: "GET",
            cache: false,
            success: function (data) {
                if (data != null) {
                    $('#comment-list-wrapper').html(data);
                } else {
                    toastr.error('Có lỗi xảy ra. Làm ơn gửi lại bình luận của bạn.');
                }
            }, error: function (e) {
                toastr.error('Có lỗi xảy ra trong quá trình chỉnh sữa. Vui lòng thử lại.');
            }
        });
    };


    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            navigation: false, // Show next and prev buttons
            lazyLoad: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });

        // binding submit comment button
        $('#btnCommentSubmit').on('click', function () {
            var form = $("#comment-form");
            form.validate();

            if (form.valid()) {
                // prepare model
                var postProductCommentModel = {
                    CommentId: $('#SubmitComment_CommentId').val(),
                    Name: $("#SubmitComment_Name").val(),
                    Title: $("#SubmitComment_Title").val(),
                    Content: $("#SubmitComment_Content").val(),
                    Rating: $("#SubmitComment_Rating").val(),
                    CommentType: $("#SubmitComment_CommentType").val(),
                    ObjectId: $("#SubmitComment_ObjectId").val()
                };

                $.ajax({
                    url: staticUrl.PostProductComment,
                    data: postProductCommentModel,
                    async: true,
                    method: "POST",
                    dataType: "json",
                    cache: false,
                    beforeSend: function(){
                        $.blockUI({ message: "<h1><img src='/Content/Image/ajax-loader.gif' /> Đang tải trang...</h1>" });

                        //setTimeout($.unblockUI, 100000000);
                    },
                    success: function (data) {
                        if (data != null) {
                            if (data.isResult == false) {
                                toastr.error('Có lỗi xảy ra. Làm ơn gửi lại bình luận của bạn.');
                            } else {
                                // Display an info toast with no title
                                toastr.success('Cảm ơn bình luận của bạn.');

                                // restore the orginal form
                                $('#rating_div').show();
                                $('#title_div').show();

                                // then reset form
                                $('#comment-form')[0].reset();

                                // after all, reload the comment box
                                reloadCommentList(postProductCommentModel.ObjectId);
                            }
                        }
                    }, error: function (e) {
                        toastr.error('Có lỗi xảy ra trong quá trình chỉnh sữa. Vui lòng thử lại.');
                    },
                    complete: function () {
                        $.unblockUI();
                    }
                });
            }
        });

        // binding reply comment
        $('.linkReplyComment').on('click', function (e) {
            e.preventDefault();
            // hide the title and the rating field
            $('#rating_div').attr('style', 'display:none;');
            $('#title_div').attr('style', 'display:none;');

            // set the comment parent id
            $('#SubmitComment_CommentId').val($(this).data('comment-id'));

            // focus to name
            $('#SubmitComment_Name').focus();
        });
    });
</script>
}