@model _170516.Models.ShowcaseProductDetail
@{
    ViewBag.Title = Model.ProductName;
}

<div class="index-content-wrapper container-fluid">
    <div class="banner dark-translucent-bg banner-without-image">
        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                    <li><a href="@Url.Action("Showcase","Product")">Sản Phẩm</a></li>
                    <li class="active">@Model.ProductName</li>
                </ol>
            </div>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    @Html.HiddenFor(model => model.ProductID)
                    <h1 class="page-title">@Model.ProductName</h1>
                    <div class="separator-2"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="nav nav-pills" role="tablist">
                                <li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="images"><i class="fa fa-camera pr-5"></i> Ảnh Sản Phẩm</a></li>
                            </ul>
                            <div class="tab-content clear-style">
                                <div class="tab-pane active" id="pill-1">
                                    <div class="owl-carousel content-slider-with-large-controls">
                                        <div class="overlay-container overlay-visible">
                                            @if (string.IsNullOrWhiteSpace(Model.ImageSrc))
                                            {
                                                <img src="~/Content/Image/image_placeholder.jpg" alt="">
                                                <a href="#" class="popup-img overlay-link" title="image title"><i class="fa fa-search-plus"></i></a>
                                            }
                                            else
                                            {
                                                <img src="@Model.ImageSrc" alt="">
                                                <a href="@Model.ImageSrc" class="popup-img overlay-link" title="image title"><i class="fa fa-search-plus"></i></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 pv-30">
                            <h2>Mô Tả</h2>
                            <p>@Model.ProductSummary</p>
                            <hr class="mb-10">
                            <div class="row grid-space-10">
                                <form role="form" class="clearfix">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Quantity</label>
                                            <input type="text" id="productInCartQuantity" class="form-control" value="1">
                                            <span class="input-error-box text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="clearfix mb-20">
                                            <ul class="pl-20 pull-right social-links circle small clearfix margin-clear animated-effect-1" style="padding-top: 30px;">
                                                <li class="twitter"><a target="_blank" href="http://www.twitter.com" style="color: #55acee;"><i class="fa fa-twitter"></i></a></li>
                                                <li class="googleplus"><a target="_blank" href="http://plus.google.com" style="color: #dd4b39;"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="facebook"><a target="_blank" href="http://www.facebook.com" style="color: #3b5998;"><i class="fa fa-facebook"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="light-gray-bg p-20 bordered clearfix">
                                <span class="product price"><i class="fa fa-tag pr-10"></i>@Model.DiscountedPrice.ToString("N") đ</span>
                                @if (Model.Discount > 0)
                                {
                                    <span class="product price" style="margin-left: 5px;color: #7f8c8d;font-size: 15px;"><del>@Model.Price.ToString("N") đ</del></span>
                                }
                                <div class="product elements-list pull-right clearfix">
                                    <button id="addToCartBtn" class="btn btn-default btn-animated add-to-cart"><i class="fa fa-cart-plus"></i> Thêm vào giỏ hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pv-30 light-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="nav nav-tabs style-4" role="tablist">
                        <li class="active"><a href="#h2tab1" role="tab" data-toggle="tab"><i class="fa fa-star pr-5"></i>Thông Tin Thêm</a></li>
                        <li><a href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-5"></i>Thông Số</a></li>
                        <li><a href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-5"></i>Bình Luận (4)</a></li>
                    </ul>
                    <div class="tab-content padding-top-clear padding-bottom-clear">
                        <div class="tab-pane fade in active" id="h2tab1">
                            <!-- Thông tin thêm -->
                            @Html.Raw(Model.ProductDescription)
                        </div>
                        <div class="tab-pane fade" id="h2tab2">
                            <!-- Đặc điểm -->
                            <h4 class="space-top">Đặc Điểm</h4>
                            <hr>
                            <dl class="dl-horizontal">
                                @foreach (var specification in Model.SpecificationList.Where(s => !s.IsSize))
                                {
                                    <dt>@specification.Name</dt>
                                        <dd>@specification.Value</dd>
                                }
                            </dl>

                            <!-- Kích Thước -->
                            <h4 class="space-top">Kích Thước</h4>
                            <hr>
                            <dl class="dl-horizontal">
                                @foreach (var specification in Model.SpecificationList.Where(s => s.IsSize))
                                {
                                    <dt>@specification.Name</dt>
                                        <dd>@specification.Value</dd>
                                }
                            </dl>
                        </div>
                        <div class="tab-pane fade" id="h2tab3">
                            <!-- comment -->
                            <div class="comments margin-clear space-top">
                                <div class="comment clearfix">
                                    <header>
                                        <h3>Amazing!</h3>
                                        <div class="comment-meta">
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star"></i> by <strong>Thuan</strong> | Today 12:31
                                        </div>
                                    </header>
                                    <div class="comment-content">
                                        <div class="comment-body clearfix">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                                            <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                                        </div>
                                        <div class="comment-reply">
                                            <header>
                                                <div class="comment-meta">
                                                    <strong>Thuan</strong> | Today 12:31
                                                </div>
                                            </header>
                                            <div class="comment-body clearfix">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comments-form">
                                <h2 class="title">Ý Kiến Của Bạn</h2>
                                <form role="form" id="comment-form">
                                    <div class="form-group has-feedback">
                                        <label for="name4">Họ và Tên</label>
                                        <input type="text" class="form-control" id="name4" placeholder="" name="name4" required="">
                                        <i class="fa fa-user form-control-feedback"></i>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="subject4">Tiêu Đề</label>
                                        <input type="text" class="form-control" id="subject4" placeholder="" name="subject4" required="">
                                        <i class="fa fa-pencil form-control-feedback"></i>
                                    </div>
                                    <div class="form-group">
                                        <label>Đánh Giá</label>
                                        <select class="form-control" id="review">
                                            <option value="five">5</option>
                                            <option value="four">4</option>
                                            <option value="three">3</option>
                                            <option value="two">2</option>
                                            <option value="one">1</option>
                                        </select>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="message4">Nội Dung</label>
                                        <textarea class="form-control" rows="8" id="message4" placeholder="" name="message4" required=""></textarea>
                                        <i class="fa fa-envelope-o form-control-feedback"></i>
                                    </div>
                                    <input type="submit" value="Submit" class="btn btn-default">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="sidebar">
                       

                        @{Html.RenderAction("GetSimilarProductPartial", "Product", new { id = Model.ProductID });}
                    </div>
                </aside>
            </div>
        </div>
    </section>
</div>

@section Scripts
{
    @*<script>
            $(document).ready(function () {
                $(".owl-carousel").owlCarousel({
                    navigation: false, // Show next and prev buttons
                    lazyLoad: true,
                    slideSpeed: 300,
                    paginationSpeed: 400,
                    singleItem: true
                });
            });
        </script>*@
}