@model _170516.Models.LoginViewModel

@{
    ViewBag.Title = "Đăng nhập";
}


<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="http://design.ubuntu.com/wp-content/uploads/ubuntu-logo32.png" />
        <p id="profile-name" class="profile-name-card"></p>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="Email" name="Email" class="form-control" placeholder="Địa chỉ Email" required autofocus>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <input type="password" id="Password" name="Password" class="form-control" placeholder="Mật khẩu" required>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" id="RememberMe" name="RememberMe" value="remember-me"> Nhớ tài khoản
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" id="LoginBtn" type="submit">Đăng Nhập</button>
        }
    </div><!-- /card-container -->
</div><!-- /container -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}