<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/admin_css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Logo -->
                    <div class="logo">
                        <h1>@Html.ActionLink("170516", "Index", "Home", null, null)</h1>
                    </div>
                </div>
                <div class="col-md-7">
                    <!-- account -->
                    @{Html.RenderAction("AccountMenu", "Administrator");}
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <!-- menu -->
                <div class="sidebar content-box" style="display:block">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li class="current"><a href="index.html"><i class="glyphicon glyphicon-home"></i> Tổng Kết</a></li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-book"></i> Nội Dung
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="@Url.Action("ViewProductCategory","Administrator")">Danh Mục</a></li>
                                <li><a href="@Url.Action("ViewProduct","Administrator")">Sản Phẩm</a></li>
                            </ul>
                        </li>
                        <li><a href="stats.html"><i class="glyphicon glyphicon-user"></i> Tài Khoản</a></li>
                        <li><a href="tables.html"><i class="glyphicon glyphicon-list"></i> Đơn Hàng</a></li>
                        <li><a href="buttons.html"><i class="glyphicon glyphicon-stats"></i> Thống Kê</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <!-- body content -->
                @RenderBody()
                <!-- end body-->
            </div>
        </div>
        <hr />
        <footer>
            <div class="container">

                <div class="copy text-center">
                    Copyright &copy; @DateTime.Now.Year <a href='#'>Website</a>
                </div>

            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery_upload")
    @Scripts.Render("~/bundles/admin_script")
    @Scripts.Render("~/bundles/main_script")

    <script type="text/javascript">
        var staticUrl = {
            addColor: "@Url.Action("AddColor","Administrator")",
            uploadFile: "@Url.Action("UploadImage", "Home")",
            addProduct: "@Url.Action("AddProduct","Administrator")",
            viewProductCategory: "@Url.Action("ViewProductCategory","Administrator")",
            addProductCategory: "@Url.Action("AddProductCategory", "Administrator")",
            updateProductCategory: "@Url.Action("UpdateProductCategory", "Administrator")",
            deleteProductCategory: "@Url.Action("DeleteProductCategory", "Administrator")",
            updateCustomer: "@Url.Action("UpdateCustomer","Administrator")",
            addProduct: "@Url.Action("AddProduct","Administrator")",
            viewProduct: "@Url.Action("ViewProduct","Administrator")",
            updateProduct: "@Url.Action("UpdateProduct", "Administrator")",

            viewSupplier: "@Url.Action("ViewSupplier","Administrator")",
            addSupplier: "@Url.Action("AddSupplier", "Administrator")",
            updateSupplier: "@Url.Action("UpdateSupplier", "Administrator")",
            deleteSupplier: "@Url.Action("RemoveSupplier", "Administrator")",

            viewShipper: "@Url.Action("ViewShipper", "Administrator")",
            addShipper: "@Url.Action("AddShipper", "Administrator")",
            updateShipper: "@Url.Action("UpdateShipper", "Administrator")",
            deleteShipper: "@Url.Action("RemoveShipper", "Administrator")",

            viewOrder: "@Url.Action("ViewOrder", "Administrator")",           
            updateOrder: "@Url.Action("UpdateOrder", "Administrator")",
            cancelOrder: "@Url.Action("CancelOrder", "Administrator")",

            viewOrderDetails: "@Url.Action("ViewOrderDetails", "Administrator")",                      
            cancelOrderProduct: "@Url.Action("CancelOrderProduct", "Administrator")",
        };

        var sampleRegex = {
            floatRegex: new RegExp("^\d{0,2}(\.\d{0,2}){0,1}$")
        };

        // environment
        window.$environment = 'DEVELOPMENT';

        // config of toastr
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
