<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=vietnamese,latin' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/admin_css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Administrator")">Construction Admin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @{Html.RenderAction("AccountMenu", "Administrator");}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container-fluid main-content">
        <div class="row">
            <div class="col-md-3">
                <!-- menu -->
                <div class="list-group table-of-contents">
                    <a class="list-group-item" href="#"><i class="fa fa-list"></i> Nội Dung</a>
                    <a class="list-group-item list-group-item-child" href="@Url.Action("ViewProductCategory","Administrator")">Danh Mục</a>
                    <a class="list-group-item list-group-item-child" href="@Url.Action("ViewProduct","Administrator")">Sản Phẩm</a>
                    <a class="list-group-item list-group-item-child" href="@Url.Action("ViewSupplier","Administrator")">Nhà cung cấp</a>
                    <a class="list-group-item list-group-item-child" href="@Url.Action("ViewShipper","Administrator")">Shipper</a>
                    <a class="list-group-item list-group-item-child" href="@Url.Action("ViewSystemVariable","Administrator")">Thông Tin Công Ty</a>
                    <a class="list-group-item" href="@Url.Action("ViewRequest","Administrator")"><i class="fa fa-inbox" aria-hidden="true"></i> Yêu Cầu Khách Hàng</a>
                    <a class="list-group-item" href="stats.html"><i class="fa fa-users" aria-expanded="false"></i> Tài Khoản</a>
                    <a class="list-group-item" href="@Url.Action("ViewOrder","Administrator")"><i class="fa fa-shopping-cart" aria-expanded="false"></i> Đơn Hàng</a>
                </div>
            </div>
            <div class="col-md-9">
                <!-- body content -->
                @RenderBody()
                <!-- end body-->
            </div>
        </div>

    </div>
    <!-- Footer -->
    <footer>
        <div class="container-fluid">
            <div class="copy text-center" style="height :52px; margin-top: 20px; ">
                Copyright © 2016 <a href="#">OUR DEVELOPER</a>
            </div>

        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery_upload")
    @Scripts.Render("~/bundles/admin_script")
    @Scripts.Render("~/bundles/main_script")

    <script type="text/javascript">
        var staticUrl = {
            addColor: "@Url.Action("AddColor","Administrator")",
            uploadFile: "@Url.Action("UploadImage", "Home")",
            addProduct: "@Url.Action("AddProduct","Administrator")",
            viewProductCategory: "@Url.Action("ViewProductCategory","Administrator")",
            addProductCategory: "@Url.Action("AddProductCategory", "Administrator")",
            updateProductCategory: "@Url.Action("UpdateProductCategory", "Administrator")",
            deleteProductCategory: "@Url.Action("DeleteProductCategory", "Administrator")",
            viewProductCategoryDetail: "@Url.Action("ViewProductCategoryDetail", "Administrator")",

            updateCustomer: "@Url.Action("UpdateCustomer","Administrator")",
            addProduct: "@Url.Action("AddProduct","Administrator")",
            viewProduct: "@Url.Action("ViewProduct","Administrator")",
            updateProduct: "@Url.Action("UpdateProduct", "Administrator")",
            addSpecification: "@Url.Action("AddSpecification", "Administrator")",

            viewSupplier: "@Url.Action("ViewSupplier","Administrator")",
            addSupplier: "@Url.Action("AddSupplier", "Administrator")",
            updateSupplier: "@Url.Action("UpdateSupplier", "Administrator")",
            deleteSupplier: "@Url.Action("RemoveSupplier", "Administrator")",

            viewShipper: "@Url.Action("ViewShipper", "Administrator")",
            addShipper: "@Url.Action("AddShipper", "Administrator")",
            updateShipper: "@Url.Action("UpdateShipper", "Administrator")",
            deleteShipper: "@Url.Action("RemoveShipper", "Administrator")",

            viewOrder: "@Url.Action("ViewOrder", "Administrator")",
            updateOrder: "@Url.Action("UpdateOrder", "Administrator")",
            cancelOrder: "@Url.Action("CancelOrder", "Administrator")",

            viewOrderDetails: "@Url.Action("ViewOrderDetails", "Administrator")",
            cancelOrderProduct: "@Url.Action("CancelOrderProduct", "Administrator")",

            viewUser: "@Url.Action("ViewUser", "Administrator")",
            addUser: "@Url.Action("AddUser", "Administrator")",
            updateUser: "@Url.Action("UpdateUser", "Administrator")",
            changeUserStatus: "@Url.Action("ChangeUserStatus", "Administrator")",
            answerRequest: "@Url.Action("AnswerRequest","Administrator")"
        };

        var sampleRegex = {
            floatRegex: new RegExp("^\d{0,2}(\.\d{0,2}){0,1}$"),
            dateVNRegex: new RegExp("(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)"),
            integerRegex: new RegExp("^[1-9]([0-9]*)$")
        };

        // environment
        window.$environment = 'DEVELOPMENT';

        // config of toastr
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
