<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=vietnamese,latin' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/admin_css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper" class="">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="@Url.Action("Index", "Administrator")" class="logo">
                        <i class="zmdi zmdi-toys icon-c-logo"></i><span>LOGO</span>
                    </a>
                </div>
            </div>
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="">
                        <div class="pull-left">
                            <button class="button-menu-mobile open-left waves-effect waves-light">
                                <i class="zmdi zmdi-menu"></i>
                            </button>
                            <span class="clearfix"></span>
                        </div>
                        @{Html.RenderAction("AccountMenu", "Administrator");}
                    </div>
                </div>
            </div>
        </div>

        <div class="left side-menu">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 1183px;">
                <div class="sidebar-inner slimscrollleft" style="overflow: hidden; width: auto; height: 1183px;">
                    <div id="sidebar-menu">
                        <ul>
                            <li class="text-muted menu-title">Quản Lý Thông Tin</li>
                            <li class="has_sub">
                                <a href="@Url.Action("ViewProduct","Administrator")" class="waves-effect subdrop"><i class="zmdi zmdi-view-dashboard"></i> <span> Sản Phẩm </span> </a>                                
                            </li>
                            <li class="has_sub">
                                <a href="@Url.Action("ViewProductCategory","Administrator")" class="waves-effect subdrop"><i class="zmdi zmdi-view-dashboard"></i> <span> Danh Mục Sản Phẩm </span> </a>                                
                            </li>
                            <li class="has_sub">
                                <a href="@Url.Action("ViewShipper","Administrator")" class="waves-effect subdrop"><i class="zmdi zmdi-view-dashboard"></i> <span> Đơn Vị Vận Chuyển </span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="@Url.Action("ViewSupplier","Administrator")" class="waves-effect subdrop"><i class="zmdi zmdi-view-dashboard"></i> <span> Nhà Cung Cấp </span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="@Url.Action("ViewRequest","Administrator")" class="waves-effect subdrop"><i class="zmdi zmdi-view-dashboard"></i> <span> Feedback Khách Hàng </span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="@Url.Action("ViewSystemVariable","Administrator")" class="waves-effect subdrop"><i class="zmdi zmdi-view-dashboard"></i> <span> Thông Tin Hệ Thống </span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="@Url.Action("ViewUser","Administrator")" class="waves-effect subdrop"><i class="zmdi zmdi-view-dashboard"></i> <span> Tài Khoản </span> </a>
                            </li>
                            <li class="text-muted menu-title">Quản Lý Cá Nhân</li>
                            <li class="has_sub">
                                <a href="index.html" class="waves-effect subdrop"><i class="zmdi zmdi-view-dashboard"></i> <span> Thông Tin </span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="index.html" class="waves-effect subdrop"><i class="zmdi zmdi-view-dashboard"></i> <span> Đăng Xuất </span> </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div><div class="slimScrollBar" style="width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 2691px; visibility: visible; background: rgb(220, 220, 220);"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <div class="content">
                @RenderBody();
            </div>

            <footer class="footer">
                2016 © Flacto. Design by <a href="http://coderthemes.com/" target="_blank" class="text-muted">Coderthemes</a>
            </footer>

        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <div class="side-bar right-bar">
            <a href="javascript:void(0);" class="right-bar-toggle">
                <i class="zmdi zmdi-close-circle-o"></i>
            </a>
            <h4 class="">Notifications</h4>
            <div class="notification-list nicescroll" tabindex="5001" style="overflow: hidden; outline: none;">
                <ul class="list-group list-no-border user-list">
                    <li class="list-group-item">
                        <a href="#" class="user-list-item">
                            <div class="avatar">
                                <img src="assets/images/users/avatar-2.jpg" alt="">
                            </div>
                            <div class="user-desc">
                                <span class="name">Michael Zenaty</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">2 hours ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="user-list-item">
                            <div class="icon">
                                <i class="zmdi zmdi-account"></i>
                            </div>
                            <div class="user-desc">
                                <span class="name">New Signup</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">5 hours ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="user-list-item">
                            <div class="icon">
                                <i class="zmdi zmdi-comment"></i>
                            </div>
                            <div class="user-desc">
                                <span class="name">New Message received</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">1 day ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="user-list-item">
                            <div class="avatar">
                                <img src="assets/images/users/avatar-3.jpg" alt="">
                            </div>
                            <div class="user-desc">
                                <span class="name">James Anderson</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">2 days ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item active">
                        <a href="#" class="user-list-item">
                            <div class="icon">
                                <i class="zmdi zmdi-settings"></i>
                            </div>
                            <div class="user-desc">
                                <span class="name">Settings</span>
                                <span class="desc">There are new settings available</span>
                                <span class="time">1 day ago</span>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <div id="ascrail2001" class="nicescroll-rails" style="width: 8px; z-index: 9999; cursor: default; position: absolute; top: 57px; left: 232px; height: 230px; opacity: 0;"><div style="position: relative; top: 0px; float: right; width: 6px; height: 113px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: rgb(152, 166, 173); background-clip: padding-box;"></div></div><div id="ascrail2001-hr" class="nicescroll-rails" style="height: 8px; z-index: 9999; top: 279px; left: 0px; position: absolute; cursor: default; display: none; width: 232px; opacity: 0;"><div style="position: relative; top: 0px; height: 6px; width: 241px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: rgb(152, 166, 173); background-clip: padding-box;"></div></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery_upload")
    @Scripts.Render("~/bundles/admin_script")
    @Scripts.Render("~/bundles/main_script")

    <script type="text/javascript">
        var staticUrl = {
            addColor: "@Url.Action("AddColor","Administrator")",
            uploadFile: "@Url.Action("UploadImage", "Home")",
            addProduct: "@Url.Action("AddProduct","Administrator")",
            viewProductCategory: "@Url.Action("ViewProductCategory","Administrator")",
            addProductCategory: "@Url.Action("AddProductCategory", "Administrator")",
            updateProductCategory: "@Url.Action("UpdateProductCategory", "Administrator")",
            deleteProductCategory: "@Url.Action("DeleteProductCategory", "Administrator")",
            viewProductCategoryDetail: "@Url.Action("ViewProductCategoryDetail", "Administrator")",

            updateCustomer: "@Url.Action("UpdateCustomer","Administrator")",
            addProduct: "@Url.Action("AddProduct","Administrator")",
            viewProduct: "@Url.Action("ViewProduct","Administrator")",
            updateProduct: "@Url.Action("UpdateProduct", "Administrator")",
            addSpecification: "@Url.Action("AddSpecification", "Administrator")",

            viewSupplier: "@Url.Action("ViewSupplier","Administrator")",
            addSupplier: "@Url.Action("AddSupplier", "Administrator")",
            updateSupplier: "@Url.Action("UpdateSupplier", "Administrator")",
            deleteSupplier: "@Url.Action("RemoveSupplier", "Administrator")",

            viewShipper: "@Url.Action("ViewShipper", "Administrator")",
            addShipper: "@Url.Action("AddShipper", "Administrator")",
            updateShipper: "@Url.Action("UpdateShipper", "Administrator")",
            deleteShipper: "@Url.Action("RemoveShipper", "Administrator")",

            viewOrder: "@Url.Action("ViewOrder", "Administrator")",
            updateOrder: "@Url.Action("UpdateOrder", "Administrator")",
            cancelOrder: "@Url.Action("CancelOrder", "Administrator")",

            viewOrderDetails: "@Url.Action("ViewOrderDetails", "Administrator")",
            cancelOrderProduct: "@Url.Action("CancelOrderProduct", "Administrator")",

            viewUser: "@Url.Action("ViewUser", "Administrator")",
            addUser: "@Url.Action("AddUser", "Administrator")",
            updateUser: "@Url.Action("UpdateUser", "Administrator")",
            changeUserStatus: "@Url.Action("ChangeUserStatus", "Administrator")",
            answerRequest: "@Url.Action("AnswerRequest","Administrator")",

            addEmailTemplate: "@Url.Action("AddEmailTemplate","Administrator")"
        };

        var sampleRegex = {
            floatRegex: new RegExp("^\d{0,2}(\.\d{0,2}){0,1}$"),
            dateVNRegex: new RegExp("(^(((0[1-9]|1[0-9]|2[0-8])[\/](0[1-9]|1[012]))|((29|30|31)[\/](0[13578]|1[02]))|((29|30)[\/](0[4,6,9]|11)))[\/](19|[2-9][0-9])\d\d$)|(^29[\/]02[\/](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)"),
            integerRegex: new RegExp("^[1-9]([0-9]*)$")
        };

        // environment
        window.$environment = 'DEVELOPMENT';

        // config of toastr
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
