<!DOCTYPE html>

<html style="height: 100%; background-repeat: no-repeat; background-color: #2c3e50; ">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=vietnamese,latin' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="height: 100%; background-repeat: no-repeat; background-color: #2c3e50; ">
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>

        <hr>
        <!-- Footer -->
        <footer>
            <!-- Footer -->
            <div class="container-fluid">
                <div class="copy text-center" style="height :52px; margin-top: 20px; ">
                    Copyright © 2016 by <a href="#">OUR DEVELOPER</a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main_script")
    @RenderSection("scripts", required: false)    

    <script type="text/javascript">
        var staticUrl = {
            login: "@Url.Action("Login","Account")",
        };

        // environment
        window.$environment = 'DEVELOPMENT';

        // config of toastr
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    </script>
</body>
</html>
