<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <link rel="icon" href="~/Content/Image/logo.png">
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Taviraj:400,100,100italic,200,200italic,300,300italic,400italic,500,600,500italic,700,600italic,700italic,800,800italic,900,900italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=vietnamese,latin' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page-wrapper">
        <div class="header-container" style="padding-bottom: 0px;">
            <div class="header-top dark ">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <div class="header-top-first clearfix">
                                <ul class="social-links circle small clearfix hidden-xs">
                                    <li class="skype">
                                        <a target="_blank" href="http://www.skype.com">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li class="linkedin"><a target="_blank" href="@ViewData["LinkedInLink"]"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="googleplus"><a target="_blank" href="@ViewData["GoogleLink"]"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="facebook"><a target="_blank" href="@ViewData["FacebookLink"]"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                                <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                                    <div class="btn-group dropdown">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                                        <ul class="dropdown-menu dropdown-animation">
                                            <li class="skype"><a target="_blank" href="@ViewData["SkypeLink"]"><i class="fa fa-skype"></i></a></li>
                                            <li class="linkedin"><a target="_blank" href="@ViewData["LinkedInLink"]"><i class="fa fa-linkedin"></i></a></li>
                                            <li class="googleplus"><a target="_blank" href="@ViewData["GoogleLink"]"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="facebook"><a target="_blank" href="@ViewData["FacebookLink"]"><i class="fa fa-facebook"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="list-inline hidden-sm hidden-xs">
                                    <li><i class="fa fa-map-marker pr-5 pl-10"></i>@ViewData["Address"]</li>
                                    <li><i class="fa fa-phone pr-5 pl-10"></i> @ViewData["Phone"]</li>
                                    <li><i class="fa fa-envelope-o pr-5 pl-10"></i> @ViewData["EmaiMElAddress"]</li>
                                </ul>
                            </div>
                        </div>
                        @*<div class="col-xs-4 col-sm-4 col-md-4">
                                <div id="header-top-second" class="clearfix">
                                    <div class="header-top-dropdown text-right">
                                        <div class="btn-group dropdown">
                                            <button type="button" class="btn dropdown-toggle btn-default btn-sm" id="btnViewCartPopup" data-toggle="dropdown"><i class="fa fa-shopping-cart pr-10"></i> Giỏ Hàng</button>
                                            <ul class="dropdown-menu dropdown-menu-right dropdown-animation" style="z-index: 9000;">
                                                <li id="cartPartialView">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
            <header class="header fixed clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 ">
                            <div class="header-left clearfix">
                                <div id="logo" class="logo">
                                    <a href="@Url.Action("Index", "Home")">
                                        <img src="~/Content/Image/logo.png" alt="Trang Chủ" id="logo_img" />
                                    </a>
                                </div>
                                <div class="site-slogan">
                                    Kỹ Thuật & Xây Dựng
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="header-right clearfix">
                                <div class="main-navigation animated with-dropdown-buttons">
                                    <nav class="navbar navbar-default" role="navigation">
                                        <div class="container-fluid">

                                            <!-- Toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                            </div>
                                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                <!-- main-menu -->
                                                <ul class="nav navbar-nav main-menu">
                                                    <li class="mega-menu">
                                                        <a href="@Url.Action("Index","Home")">Trang Chủ</a>
                                                    </li>
                                                    <li class="mega-menu">
                                                        <a href="@Url.Action("Showcase", "Product")">Sản Phẩm</a>
                                                    </li>
                                                    <li class="mega-menu">
                                                        <a href="@Url.Action("About","Home")">Giới Thiệu</a>
                                                    </li>
                                                    <li class="mega-menu">
                                                        <a href="@Url.Action("Contact", "Home")">Liên Hệ</a>
                                                    </li>
                                                </ul>

                                                <div class="header-dropdown-buttons hidden-xs ">
                                                    <div class="btn-group dropdown">
                                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-search"></i></button>
                                                        <ul class="dropdown-menu dropdown-menu-right dropdown-animation" style="background: #f2f2f2;">
                                                            <li>
                                                                <form role="search" class="search-box margin-clear">
                                                                    <div class="form-group has-feedback">
                                                                        <input type="text" class="form-control" placeholder="Tìm Kiếm">
                                                                        <i class="fa fa-search form-control-feedback"></i>
                                                                    </div>
                                                                </form>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="btn-group dropdown">
                                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true" id="btnViewCartPopup">
                                                            <i class="fa fa-shopping-cart"></i><span class="cart-count default-bg">
                                                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                                                                <span class="sr-only">Loading...</span>
                                                            </span>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-right dropdown-animation cart">
                                                            <li id="cartPartialView">

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        @RenderBody()

        <footer id="footer" class="clearfix ">
            <div class="subfooter">
                <div class="container">
                    <div class="subfooter-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">Copyright © 2016 The Project by <a target="_blank" href="#" style="color:#ecf0f1;">N.E.R.D</a>. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/main_script")
    @RenderSection("scripts", required: false)

    <script src="@Url.Content("~/Scripts/Home/cart.js")"></script>
    <script type="text/javascript">
        var staticUrl = {
            HomePage: "@Url.Action("Index","Home")",
            ViewCategory: "@Url.Action("ViewCategory","Product")",
            GetSubCategory: "@Url.Action("GetSubCategory","Product")",
            SendRequestContact: "@Url.Action("SendRequestContact", "Home")",
            AddProductToCart: "@Url.Action("AddProductToCart", "Product")",
            UpdateCart: "@Url.Action("UpdateCart", "Product")",
            ViewCart: "@Url.Action("ViewCart", "Product")",
            ViewPartialCart: "@Url.Action("ViewCartMinimal", "Product")",
            CheckOut: "@Url.Action("CheckOut", "Product")",
            CheckoutConfirmation: "@Url.Action("CheckoutConfirmation", "Product")",
            LoadSystemInformation: "@Url.Action("LoadSystemInformation", "Home")",
            PostProductComment: "@Url.Action("PostProductComment", "Product")",
            GetCommentList: "@Url.Action("GetCommentList","Product")"           
        };

        var sampleRegex = {
            integerRegex: new RegExp("^[1-9]([0-9]*)$")
        };

        // environment
        window.$environment = 'DEVELOPMENT';

        // config of toastr
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        var initializeSetup = function () {
            $.ajax({
                url: staticUrl.LoadSystemInformation,
                method: "GET",
                success: function (data) {
                    if (data != null) {
                        var model = data.data;
                        // cart
                        $('.cart-count').text(model.CartCount);
                        // system informations
                        if (model.SystemVariables != null) {
                            for (var i = 0; i < model.SystemVariables; i++) {
                                if (model.SystemVariables[i].Code == "link") {
                                    $('.' + model.SystemVariables[i].Name).attr('href',model.SystemVariables[i].Value);
                                }

                                if (model.SystemVariables[i].Code == "text") {
                                    $('.' + model.SystemVariables[i].Name).text(model.SystemVariables[i].Value);
                                }
                            }
                        }
                    }
                },
                error: function (e) {
                    toastr.error('Có lỗi xảy ra khi khởi động. Làm ơn nhấn F5 để thử lại.');
                }
            });
        }

        // here comes the ajax to load all the system variables
        $(document).ready(function () {
            initializeSetup();
        });
    </script>
</body>
</html>
