@model _170516.Models.Administrator.CreateProductModel
@{
    ViewBag.Title = "Tạo sản phẩm mới";
}
<div class="row">
    <div class="col-md-12">
        <div class="content-box-large">
            <div class="panel-heading">
                @*nav bar*@
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("ViewProduct","Administrator")">Quản Lý Sản Phẩm</a></li>
                    <li class="active">Tạo Sản Phẩm</li>
                </ol>
                <div class="panel-title title-3">Tạo Sản Phẩm Mới</div>
            </div>
            <div class="panel-body">
                <form id="AddProductForm">
                    <div class="form-horizontal">
                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Thông tin cơ bản</legend>
                            <div class="row">
                                <div class="col-md-8 col-lg-8">
                                    <!-- PRODUCT NAME -->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ProductName">Tên Sản Phẩm <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" id="ProductName" name="ProductName">
                                            <span class="input-error-box text-danger"></span>
                                        </div>
                                    </div>
                                    <!-- PRODUCT CATEGORY -->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ProductCategoryID">Danh Mục</label>
                                        <div class="col-sm-7">
                                            @if (Model.CategoryList.Any())
                                            {
                                                <select id="ProductCategoryID" class="form-control" name="ProductCategoryID">
                                                    @foreach (var category in Model.CategoryList)
                                                    {
                                                        <option value="@category.CategoryID">@category.CategoryName</option>
                                                    }
                                                </select>
                                                <span class="field-validation-valid" data-valmsg-for="CategoryID" data-valmsg-replace="true"></span>
                                            }
                                            else
                                            {
                                                <h6>Chưa có dữ liệu</h6>
                                            }
                                        </div>
                                    </div>
                                    <!-- QUANTITY UNIT IN STOCK -->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ProductQuantity">Số Lượng <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="number" class="form-control" id="ProductQuantity" name="ProductQuantity">
                                            <span class="input-error-box text-danger"></span>
                                        </div>
                                    </div>
                                    <!-- SUPPLIER -->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ProductSupplierID">Nhà Phân Phối</label>
                                        <div class="col-sm-7">
                                            @if (Model.SupplierList.Any())
                                            {
                                                <select id="ProductSupplierID" name="ProductSupplierID" class="form-control">
                                                    @foreach (var supplier in Model.SupplierList)
                                                    {
                                                        <option value="@supplier.SupplierID">@supplier.SupplierName</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <h6>Chưa có dữ liệu</h6>
                                            }
                                        </div>
                                    </div>
                                    <!-- DISCOUNT -->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ProductDiscount">Khuyến Mãi</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control double-input large-input" id="ProductDiscount" name="ProductDiscount">
                                            <h6>%</h6>
                                            <span class="input-error-box text-danger"></span>
                                        </div>
                                    </div>
                                    <!-- PRICE -->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ProductPrice">Giá <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control double-input large-input" id="ProductPrice" name="ProductPrice">
                                            <h6>đ</h6>
                                            <span class="input-error-box text-danger"></span>
                                        </div>
                                    </div>
                                    <!-- SUMMARY -->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ProductSummary">Giá <span class="text-danger">*</span></label>
                                        <div class="col-sm-7">
                                            <textarea class="form-control double-input large-input" id="ProductSummary" name="ProductSummary" value="@Model.ProductSummary"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="control-label">Ảnh Sản Phẩm</label>
                                        <!-- IMAGE -->
                                        <div class="image-box">
                                            <img id="ImageBox" src="~/Content/Image/image_placeholder.jpg" class="image-box" />
                                            <div id="ImagePreviewBox" class="preview-box" style="max-width:80%;"></div>
                                            <input id="ImageUpload" type="file" class="image-file-input" name="ImageUpload" />
                                            <input id="ProductImage" type="hidden" name="ProductImage" />
                                            <h5 id="ImageName" class="image-name"></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Đặc điểm</legend>

                            <div class="row">
                                <div id="AddProductSpecificationTable">
                                    <!-- SPECIFICATION TABLE -->                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-3">
                                    <!-- SPECIFICATION FORM -->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="SpecificationName">Tên đặc điểm <span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="SpecificationName" name="SpecificationName" />
                                            <span class="input-error-box text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="SpecificationValue">Giá trị <span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            <input class="form-control" id="SpecificationValue" name="SpecificationValue" />
                                            <span class="input-error-box text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="SpecificationTypeID">Loại đặc điểm <span class="text-danger">*</span></label>
                                        <div class="col-sm-10">
                                            @if (Model.SpecificationType.Any())
                                            {
                                                <select id="SpecificationTypeID" name="SpecificationTypeID" class="form-control">
                                                    @foreach (var specificationType in Model.SpecificationType)
                                                    {
                                                        <option value="@specificationType.Item1">@specificationType.Item2</option>
                                                    }
                                                </select>
                                                <span class="input-error-box text-danger"></span>
                                            }
                                            else
                                            {
                                                <h6>Chưa có dữ liệu</h6>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button id="AddSpecificationBtn" type="button" class="btn btn-default"><i class="fa fa-plus"></i> Thêm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Thông tin chung</legend>
                            <div class="row">
                                <!-- DESCRIPTION -->
                                <div class="form-group col-sm-12 add-product-description" style="margin-left:2px;">
                                    <textarea class="tiny_mce_input" type="file" id="ProductDescription" name="ProductDescription"></textarea>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <div class="col-md-12 form-button">
                                        <button class="btn btn-primary" type="button" id="SubmitAddProduct"><i class="glyphicon glyphicon-floppy-disk"></i> Lưu</button>
                                        <button class="btn btn-danger" type="reset"><i class="glyphicon glyphicon-remove"></i> Xóa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Admin/product.js")"></script>
}