@model _170516.Models.Administrator.CreateShipperModel

@{
    ViewBag.Title = "Đăng ký đơn vị vận chuyển";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="main-content-wrapper">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("ViewShipper","Administrator")">Quản lý đơn vị vận chuyển</a></li>
                    <li class="active">Đăng ký đơn vị vận chuyển</li>
                </ol>
                <div class="container-fluid admin-header">
                    <div class="title col-md-6 col-xs-6"><h3>Đăng ký đơn vị vận chuyển</h3></div>
                </div>
            </div>
            <div class="container-fluid">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "addShipperForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="CompanyName">Tên công ty <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control" }) <span class="input-error-box text-danger"></span>
                                        @Html.ValidationMessageFor(model => model.CompanyName, null, new { @class = "input-error-box text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Address1">Điện thoại <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" }) <span class="input-error-box text-danger"></span>
                                        @Html.ValidationMessageFor(model => model.Phone, null, new { @class = "input-error-box text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Address2">Địa chỉ email <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" }) <span class="input-error-box text-danger"></span>
                                        @Html.ValidationMessageFor(model => model.EmailAddress, null, new { @class = "input-error-box text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="City">Địa chỉ <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" }) <span class="input-error-box text-danger"></span>
                                        @Html.ValidationMessageFor(model => model.Address, null, new { @class = "input-error-box text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Phone">Tỉnh/Thành phố <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.City, new { @class = "form-control" }) <span class="input-error-box text-danger"></span>
                                        @Html.ValidationMessageFor(model => model.City, null, new { @class = "input-error-box text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Fax">Huyện/phường <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.District, new { @class = "form-control" }) <span class="input-error-box text-danger"></span>
                                        @Html.ValidationMessageFor(model => model.District, null, new { @class = "input-error-box text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <div class="col-md-12 form-button">
                                        <button class="btn btn-primary" type="button" id="SubmitAddShipper"><i class="glyphicon glyphicon-floppy-disk"></i> Lưu</button>
                                        <button class="btn btn-danger" type="reset"><i class="glyphicon glyphicon-remove"></i>Làm mới</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Admin/shipper.js")"></script>
}
