
@model _170516.Models.Administrator.UpdateOrderModel


@{
    ViewBag.Title = "Cập nhật đơn hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="content-box-large">
            <div class="panel-heading">
                @*nav bar*@
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("ViewOrder","Administrator")">Quản Lý Đơn hàng</a></li>
                    <li class="active">Chỉnh sửa Đơn hàng</li>
                </ol>
                <div class="panel-title title-3">Chỉnh sửa Đơn hàng</div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "updateOrderForm" }))
                {
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                @Html.HiddenFor(model => model.OrderID)
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="CompanyName">Tên khách hàng <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <span class="form-control">@Model.CustomerName</span>                                        
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Address1">Shipper <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <select id="ShipperID" class="form-control" name="ShipperID">                                           
                                            @foreach (var shipper in Model.Shippers)
                                            {
                                                if (shipper.ShipperID == Model.ShipperID)
                                                {
                                                    <option selected="selected" value="@shipper.ShipperID">@shipper.CompanyName</option>
                                                }
                                                else
                                                {
                                                    <option value="@shipper.ShipperID">@shipper.CompanyName</option>
                                                }
                                            }
                                        </select>
                                        <span class="field-validation-valid" data-valmsg-for="ShipperID" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Address2">Cước <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Freight, new { @class = "form-control" }) 
                                        <span class="input-error-box text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="City">Thuế <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.SalesTax, new { @class = "form-control", Value = String.Format("{0:0}", Model.SalesTax) })
                                        <span class="input-error-box text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Phone">Đã trả <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.Paid, new { @class = "form-control", Value = String.Format("{0:0}", Model.Paid) })
                                        <span class="input-error-box text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Fax">Ngày đặt hàng <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">                                          
                                        <span class="form-control">@Model.OrderDate.ToShortDateString()</span>                                     
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Fax">Ngày yêu cầu <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.TextBox("RequiredDate", Model.RequiredDate != null ? Model.RequiredDate.Value.ToShortDateString() : string.Empty, new { @class = "form-control datepicker" })
                                        <span class="input-error-box text-danger"></span>                                     
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Phone">Ngày ship <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.TextBox("ShipDate", Model.ShipDate != null? Model.ShipDate.Value.ToShortDateString() : string.Empty, new { @class = "form-control datepicker" })
                                        <span class="input-error-box text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Phone">Ngày trả tiền <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.TextBox("PaymentDate", Model.PaymentDate != null ? Model.PaymentDate.Value.ToShortDateString(): string.Empty, new { @class = "form-control datepicker" })
                                        <span class="input-error-box text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Phone">Trạng thái đơn hàng <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(model => model.OrderStatus, Model.Statuses, new { @class = "form-control" })                                      
                                    </div>
                                </div>
                            </div>

                        </div>
                        @Html.Hidden("OrderDetaisCount", Model.OrderDetails.Count)
                        @if (Model.OrderDetails.Any())
                        {                           
                            <div class="row">
                                <div class="col-sm-12 dataTable_grid">
                                    <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" role="grid" aria-describedby="dataTables-example_info" id="detailsOrdersTable" style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                <th class="center" tabindex="0" rowspan="1" colspan="1">#</th>
                                               
                                                <th class="center" tabindex="0" rowspan="1" colspan="1">Order ID </th>
                                                
                                                <th class="center" tabindex="0" rowspan="1" colspan="1">Tên sản phẩm</th>
                                                
                                                <th class="center input-grid-money" tabindex="0" rowspan="1" colspan="1">Giá</th>
                                               
                                                <th class="center input-grid-number" tabindex="0" rowspan="1" colspan="1">Số lượng</th>                                                                                                

                                                <th class="center input-grid-number" tabindex="0" rowspan="1" colspan="1">Size</th>
                                                
                                                <th class="center" tabindex="0" rowspan="1" colspan="1">Tổng</th>
                                                
                                                <th class="center" tabindex="0" rowspan="1" colspan="1">Trạng thái</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var i = 1; i <= Model.OrderDetails.Count; i++)
                                            {
                                                <tr class="gradeA odd" role="row" data-url="@Model.OrderDetails[i - 1].OrderDetailID">
                                                    <td>@i</td>
                                                    <td>@Model.OrderDetails[i - 1].OrderID</td>
                                                    <td>@Model.OrderDetails[i - 1].ProductName</td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.OrderDetails[i-1].Price, new { @class = "form-control", Value = String.Format("{0:0}", Model.OrderDetails[i - 1].Price) }) <span class="input-error-box text-danger"></span>                                                        
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.OrderDetails[i - 1].Quantity, new { @class = "form-control" }) <span class="input-error-box text-danger"></span>                                                        
                                                    </td>                                                   
                                                    <td>
                                                        @Html.TextBoxFor(model => model.OrderDetails[i - 1].Size, new { @class = "form-control" }) <span class="input-error-box text-danger"></span>                                                        
                                                    <td>                                                        
                                                        @Html.DisplayFor(model => model.OrderDetails[i - 1].Total)
                                                    </td>
                                                    <td>                                                       
                                                        @Html.DropDownListFor(model => model.OrderDetails[i - 1].IsFulfilled, new SelectList(Model.Fulfills, "Value","Text", Model.OrderDetails[i - 1].IsFulfilled ? "True" : "False"))
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>                            
                        }
                        else
                        {
                            <h5>Không có sản phẩm nào trong đơn hàng này</h5>
                        }

                        <div class="row">
                            <p class="bg-info">Cước, Thuế, Đã trả, Giá, Giảm giá, Tổng có Đơn vị tính là <span class="text-success">đồng</span> </p>
                         </div>

                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <div class="col-md-12 form-button">
                                        <button class="btn btn-primary" type="button" id="SubmitUpdateOrder"><i class="glyphicon glyphicon-floppy-disk"></i> Lưu </button>
                                        <button class="btn btn-danger" type="button" id="CancelUpdateOrder"><i class="glyphicon glyphicon-remove"></i>Hủy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Admin/order.js")"></script>
    <script>
      $(function() {
          $(".datepicker").datepicker({ dateFormat: 'dd/mm/yy' });
      });
    </script>    
}





