@model _170516.Models.Administrator.DetailProductModel
@{
    ViewBag.Title = "Chi tiết sản phẩm";
}
<div class="row">
    <div class="col-md-12">
        <div class="content-box-large">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("ViewProduct","Administrator")">Quản Lý Sản Phẩm</a></li>
                    <li class="active">Chi tiết sản phẩm</li>
                </ol>
                <div class="panel-title title-3">@Model.ProductName</div>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Thông tin cơ bản</legend>

                        <div class="row">
                            <div class="col-md-8 col-lg-8">
                                <!-- PRODUCT NAME -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductName">Tên Sản Phẩm</label>
                                    <div class="col-sm-7">
                                        <h6 class="info-box">@Model.ProductName</h6>
                                    </div>
                                </div>
                                <!-- PRODUCT CATEGORY -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductCategoryID">Danh Mục</label>
                                    <div class="col-sm-7">
                                        <h6 class="info-box">@Model.CategoryName</h6>
                                    </div>
                                </div>
                                <!-- QUANTITY UNIT IN STOCK -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductQuantity">Số Lượng</label>
                                    <div class="col-sm-7">
                                        <h6 class="info-box">@Model.QuantityUnit</h6>
                                    </div>
                                </div>
                                <!-- SUPPLIER -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductSupplierID">Nhà Phân Phối</label>
                                    <div class="col-sm-7">
                                        <h6 class="info-box">@Model.SupplierName</h6>
                                    </div>
                                </div>

                                <!-- DISCOUNT -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductDiscount">Khuyến Mãi</label>
                                    <div class="col-sm-7">
                                        @if (Model.Discount == 0)
                                        {
                                            <h6 class="info-box">Không áp dụng khuyến mãi</h6>
                                        }
                                        else
                                        {
                                            <h6 class="info-box">@Model.Discount %</h6>
                                        }
                                    </div>
                                </div>
                                <!-- PRICE -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductPrice">Giá</label>
                                    <div class="col-sm-7">
                                        <h6 class="info-box">@Model.Price đ</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <!-- IMAGE -->
                                    <label class="control-label" for="ProductDescription">Ảnh Sản Phẩm</label>
                                    <div class="image-box">
                                        @if (!string.IsNullOrWhiteSpace(Model.ImageSrc))
                                        {
                                            <img id="ImageBox" src="@Model.ImageSrc" class="image-box" />
                                        }
                                        else
                                        {
                                            <img id="ImageBox" src="~/Content/Image/image_placeholder.jpg" class="image-box" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Đặc điểm</legend>

                        <div class="row">
                            <div id="UpdateProductSpecificationTable">
                                <!-- SPECIFICATION TABLE -->
                                @if (Model.SpecificationList.Any())
                                {
                                    <table class="table table-striped col-sm-12 table-specification">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%;">#</th>
                                                <th style="width: 10%;">Loại Đặc Điểm</th>
                                                <th style="width: 40%;">Tên</th>
                                                <th>Giá Trị</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var specification in Model.SpecificationList)
                                            {
                                                <tr>
                                                    <td>@specification.Id</td>
                                                    <td>@specification.Type</td>
                                                    <td>@specification.Name</td>
                                                    <td>@specification.Value</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Thông tin chung</legend>
                        <div class="row">
                            <!-- DESCRIPTION -->
                            <div class="form-group col-sm-12 add-product-description" style="margin-left:2px;">
                               <p>@Html.Raw(Model.Description)</p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='AddColorModal' class='modal fade' data-url='@Url.Action("AddColor", "Administrator")'>
</div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Admin/product.js")"></script>
}