@model _170516.Models.Administrator.ViewProductModel
@{
    ViewBag.Title = "Quản lý sản phẩm";
}
<div class="row">
    <div class="col-md-12">
        <div class="main-content-wrapper">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li class="active">Quản lý sản phẩm</li>
                </ol>
                <div class="container-fluid admin-header">
                    <div class="title col-md-6 col-xs-6"><h3>Danh Sách Sản Phẩm</h3></div>
                    <div class="col-md-6 col-xs-6">
                        <a id="addBtn" href="@Url.Action("AddProduct", "Administrator")" class="btn btn-primary btn-sm add-button"><i class="glyphicon glyphicon-plus"></i> Tạo Sản phẩm</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                @if (Model.Products.Any())
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="hidden" id="dataTables_sort_field_hidden" value="@Model.SortField" />
                            <input type="hidden" id="dataTables_sort_direction_hidden" value="@Model.IsAsc" />
                            <div class="dataTables_show_item_div form-inline">
                                <label><span>Hiển thị</span></label>
                                <select id="dataTables_showNumberSelect" aria-controls="dataTables-example" class="form-control input-sm">
                                    @if (Model.ItemOnPage == 10)
                                    {
                                        <option value="10" selected>10</option>
                                    }
                                    else
                                    {
                                        <option value="10">10</option>
                                    }
                                    @if (Model.ItemOnPage == 25)
                                    {
                                        <option value="25" selected>25</option>
                                    }
                                    else
                                    {
                                        <option value="25">25</option>
                                    }
                                    @if (Model.ItemOnPage == 50)
                                    {
                                        <option value="50" selected>50</option>
                                    }
                                    else
                                    {
                                        <option value="50">50</option>
                                    }
                                    @if (Model.ItemOnPage == 100)
                                    {
                                        <option value="100" selected>100</option>
                                    }
                                    else
                                    {
                                        <option value="100">100</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="dataTables_show_item_search" class="dataTables_search_div form-inline">
                                @if (!string.IsNullOrEmpty(Model.SearchText) && Model.SearchText.Equals("NULL"))
                                {
                                    <input type="search" class="form-control input-sm" value="">
                                }
                                else
                                {
                                    <input type="search" class="form-control input-sm" value="@Model.SearchText">
                                }
                                <button type="button" id="dataTables_search" class="btn btn-info btn-sm"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 dataTable_grid">
                            <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTable_example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="center" tabindex="0" rowspan="1" colspan="1">#</th>
                                        @if (Model.SortField.Equals("ProductName"))
                                        {
                                            if (Model.IsAsc)
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="ProductName" data-direction="desc" colspan="1">Tên <i class="fa fa-fw fa-sort-asc"></i></th>
                                            }
                                            else
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="ProductName" data-direction="asc" colspan="1">Tên <i class="fa fa-fw fa-sort-desc"></i></th>
                                            }
                                        }
                                        else
                                        {
                                            <th class="center" tabindex="0" rowspan="1" data-sort="ProductName" data-direction="asc" colspan="1">Tên <i class="fa fa-fw fa-sort-asc"></i></th>
                                        }
                                        @if (Model.SortField.Equals("CategoryName"))
                                        {
                                            if (Model.IsAsc)
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="CategoryName" data-direction="desc" colspan="1">Tên danh mục <i class="fa fa-fw fa-sort-asc"></i></th>
                                            }
                                            else
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="CategoryName" data-direction="asc" colspan="1">Tên danh mục <i class="fa fa-fw fa-sort-desc"></i></th>
                                            }
                                        }
                                        else
                                        {
                                            <th class="center" tabindex="0" rowspan="1" data-sort="CategoryName" data-direction="asc" colspan="1">Tên danh mục <i class="fa fa-fw fa-sort-asc"></i></th>
                                        }
                                        @if (Model.SortField.Equals("QuantityInStock"))
                                        {
                                            if (Model.IsAsc)
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="QuantityInStock" data-direction="desc" colspan="1">Số lượng <i class="fa fa-fw fa-sort-asc"></i></th>
                                            }
                                            else
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="QuantityInStock" data-direction="asc" colspan="1">Số lượng <i class="fa fa-fw fa-sort-desc"></i></th>
                                            }
                                        }
                                        else
                                        {
                                            <th class="center" tabindex="0" rowspan="1" data-sort="QuantityInStock" data-direction="asc" colspan="1">Số lượng <i class="fa fa-fw fa-sort-asc"></i></th>
                                        }
                                        @if (Model.SortField.Equals("DateModified"))
                                        {
                                            if (Model.IsAsc)
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="DateModified" data-direction="desc" colspan="1">Ngày cập nhật <i class="fa fa-fw fa-sort-asc"></i></th>
                                            }
                                            else
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="DateModified" data-direction="asc" colspan="1">Ngày cập nhật <i class="fa fa-fw fa-sort-desc"></i></th>
                                            }
                                        }
                                        else
                                        {
                                            <th class="center" tabindex="0" rowspan="1" data-sort="DateModified" data-direction="asc" colspan="1">Ngày cập nhật <i class="fa fa-fw fa-sort-asc"></i></th>
                                        }
                                        @if (Model.SortField.Equals("ModifiedUser"))
                                        {
                                            if (Model.IsAsc)
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="ModifiedUser" data-direction="desc" colspan="1">Người cập nhật <i class="fa fa-fw fa-sort-asc"></i></th>
                                            }
                                            else
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="ModifiedUser" data-direction="asc" colspan="1">Người cập nhật <i class="fa fa-fw fa-sort-desc"></i></th>
                                            }
                                        }
                                        else
                                        {
                                            <th class="center" tabindex="0" rowspan="1" data-sort="ModifiedUser" data-direction="asc" colspan="1">Người cập nhật <i class="fa fa-fw fa-sort-asc"></i></th>
                                        }
                                        <th class="center" tabindex="0" rowspan="1" colspan="1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 1; i <= Model.Products.Count; i++)
                                    {
                                        <tr class="gradeA odd" role="row">
                                            <td>@i</td>
                                            <td>@Model.Products[i - 1].ProductName</td>
                                            <td>@Model.Products[i - 1].CategoryName</td>
                                            <td>@Model.Products[i - 1].QuantityInStock</td>
                                            <td>@Model.Products[i - 1].DateModified.ToString("dd/MM/yyyy hh:mm")</td>
                                            <td>@Model.Products[i - 1].ModifiedUser</td>
                                            <td style="text-align:center;">
                                                <a class="action-link detail-link" title="Chi tiết" href="@Url.Action("ViewProductDetail", "Administrator", new { id = Model.Products[i - 1].ProductID })"><i class="fa fa-info-circle fa-lg"></i></a>
                                                <a class="action-link update-link" title="Cập nhật" href="@Url.Action("UpdateProduct", "Administrator", new { id = Model.Products[i - 1].ProductID })"><i class="fa fa-pencil fa-lg"></i></a>
                                                <a class="action-link remove-link product" title="Xóa" href="#" data-url="@Url.Action("RemoveProduct", "Administrator", new { id = Model.Products[i - 1].ProductID })"><i class="fa fa-remove fa-lg"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" role="status" aria-live="polite">Hiển thị từ @Model.StartIndex tới @Model.EndIndex trong @Model.TotalNumber sản phẩm</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate">
                                <ul class="pagination">
                                    @if (Model.CurrentPage == 1)
                                    {
                                        <li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                            <a href="#">Trước</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                            <a href="@Url.Action("ViewProduct", "Administrator", new {page = Model.CurrentPage - 1, itemsPerPage = Model.ItemOnPage, searchText = Model.SearchText, sortField = Model.SortField, isAsc = Model.IsAsc})">Trước</a>
                                        </li>
                                    }

                                    @for (var i = 0; i < 5; i++)
                                    {
                                        if ((Model.CurrentPage + i) <= Model.TotalPage)
                                        {
                                            if (i == 0)
                                            {
                                                <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                                    <a href="@Url.Action("ViewProduct", "Administrator", new {page = Model.CurrentPage + i, itemsPerPage = Model.ItemOnPage, searchText = Model.SearchText, sortField = Model.SortField, isAsc = Model.IsAsc})">@((Model.CurrentPage + i).ToString())</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="paginate_button" aria-controls="dataTables-example" tabindex="0">
                                                    <a href="@Url.Action("ViewProduct", "Administrator", new { page = Model.CurrentPage + i, itemsPerPage = Model.ItemOnPage, searchText = Model.SearchText, sortField = Model.SortField, isAsc = Model.IsAsc })">@((Model.CurrentPage + i).ToString())</a>
                                                </li>
                                            }
                                        }
                                    }

                                    @if (Model.CurrentPage == Model.TotalPage)
                                    {
                                        <li class="paginate_button next disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                                            <a href="#">Sau</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                                            <a href="@Url.Action("ViewProduct", "Administrator", new {page = Model.CurrentPage + 1, itemsPerPage = Model.ItemOnPage, searchText = Model.SearchText, sortField = Model.SortField, isAsc = Model.IsAsc})">Sau</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <h5>Không có sản phẩm nào được lưu trong cơ sở dữ liệu. Vui lòng tạo sản phẩm mới tại <a href="@Url.Action("AddProduct", "Administrator")">đây</a></h5>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/Admin/product.js")"></script>
}
