@model _170516.Models.Administrator.ViewProductCategoryModel
@{
    ViewBag.Title = "Quản Lý Danh Mục";
}

<div class="row">
    <div class="col-md-12">
        <div class="content-box-large">
            <div class="panel-heading">
                <div class="panel-title title-3">Danh Sách Danh Mục</div>
                <div class="panel-options">
                    <a id="addBtn" href="#" class="btn btn-primary btn-xs" style="margin-top:0px;"><i class="glyphicon glyphicon-plus"></i> Thêm</a>                    
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên</th>
                            <th>Mô Tả</th>
                            <th></th>                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Categories)
                        {
                            <tr>
                                <td>@item.CategoryID</td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>
                                    <a href="@Url.Action("ViewProductCategoryDetail","Administrator",new {id = item.CategoryID})"><i class="glyphicon glyphicon-search"></i></a>
                                    <a href="@Url.Action("UpdateProductCategory","Administrator",new {id = item.CategoryID})"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a href="@Url.Action("RemoveProductCategory","Administrator",new {id = item.CategoryID})"><i class="glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                        }                                               
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id='addProductCategoryModal' class='modal fade' data-url='@Url.Action("AddProductCategory", "Administrator")'>
</div>

@section Scripts
{   
    <script src="@Url.Content("~/Scripts/Admin/category.js")"></script>
}

