@model _170516.Models.Administrator.DetailProductModel
@{
    ViewBag.Title = "Chi tiết sản phẩm";
}

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right m-t-5 m-b-20">
                @*<button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Thêm sản phẩm <span class="m-l-5"><i class="fa fa-plus"></i></span></button>*@
            </div>
            <h4 class="page-title">Chi tiết sản phẩm @Model.ProductName</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <div class="form-horizontal">
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Thông tin cơ bản</legend>

                        <div class="row">
                            <div class="col-md-8 col-lg-8 detail-view">
                                <!-- PRODUCT NAME -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductName">Tên Sản Phẩm</label>
                                    <div class="col-sm-7">
                                        <p class="info-box">@Model.ProductName</p>
                                    </div>
                                </div>
                                <!-- PRODUCT CATEGORY -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductCategoryID">Danh Mục</label>
                                    <div class="col-sm-7">
                                        @if (string.IsNullOrWhiteSpace(Model.CategoryName))
                                        {
                                            <p class="info-box">Chưa có danh mục sản phẩm</p>
                                        }
                                        else
                                        {
                                            <p class="info-box">@Model.CategoryName</p>
                                        }
                                    </div>
                                </div>
                                <!-- QUANTITY UNIT IN STOCK -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductQuantity">Số Lượng</label>
                                    <div class="col-sm-7">
                                        <p class="info-box">@Model.QuantityUnit</p>
                                    </div>
                                </div>
                                <!-- SUPPLIER -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductSupplierID">Nhà Phân Phối</label>
                                    <div class="col-sm-7">
                                        @if (string.IsNullOrWhiteSpace(Model.SupplierName))
                                        {
                                            <p class="info-box">Chưa có nhà cung cấp</p>
                                        }
                                        else
                                        {
                                            <p class="info-box">@Model.SupplierName</p>
                                        }
                                    </div>
                                </div>

                                <!-- DISCOUNT -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductDiscount">Khuyến Mãi</label>
                                    <div class="col-sm-7">
                                        @if (Model.Discount == 0)
                                        {
                                            <p class="info-box">Không áp dụng khuyến mãi</p>
                                        }
                                        else
                                        {
                                            <p class="info-box">@Model.Discount %</p>
                                        }
                                    </div>
                                </div>
                                <!-- PRICE -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductPrice">Giá</label>
                                    <div class="col-sm-7">
                                        <p class="info-box">@Model.Price đ</p>
                                    </div>
                                </div>
                                <!-- SUMMARY -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductSummary">Giới Thiệu <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <p class="info-box" id="ProductSummary" name="ProductSummary">@Model.Summary</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 detail-view">
                                <div class="form-group">
                                    <!-- IMAGE -->
                                    <label class="control-label" for="ProductDescription">Ảnh Sản Phẩm</label>
                                    <div class="image-box">
                                        @if (!string.IsNullOrWhiteSpace(Model.ImageSrc))
                                        {
                                            <img id="ImageBox" src="@Model.ImageSrc" class="image-box" />
                                        }
                                        else
                                        {
                                            <img id="ImageBox" src="~/Content/Image/image_placeholder.jpg" class="image-box" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Đặc điểm</legend>

                        <div class="row">
                            <div id="UpdateProductSpecificationTable">
                                <!-- SPECIFICATION TABLE -->
                                @if (Model.SpecificationList.Any())
                                {
                                    <table class="table table-striped col-sm-12 table-specification">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%;">#</th>
                                                <th style="width: 10%;">Loại Đặc Điểm</th>
                                                <th style="width: 40%;">Tên</th>
                                                <th>Giá Trị</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var specification in Model.SpecificationList)
                                            {
                                                <tr>
                                                    <td>@specification.Id</td>
                                                    <td>@specification.Type</td>
                                                    <td>@specification.Name</td>
                                                    <td>@specification.Value</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Thông tin chung</legend>
                        <div class="row">
                            <!-- DESCRIPTION -->
                            <div class="form-group col-sm-12 add-product-description" style="margin-left:2px;">
                                <p>@Html.Raw(Model.Description)</p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Admin/product.js")"></script>
}