@model _170516.Models.Administrator.ViewSupplierModel
@{
    ViewBag.Title = "Quản lý nhà phân phối";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right m-t-5 m-b-20">
                <a href="@Url.Action("AddSupplier", "Administrator")" class="btn btn-custom dropdown-toggle waves-effect waves-light">Thêm nhà phân phối <span class="m-l-5"><i class="fa fa-plus"></i></span></a>
            </div>
            <h4 class="page-title">Quản lý nhà phân phối</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <div class="data-table-wrapper form-inline dt-bootstrap no-footer">
                    @if (Model.Suppliers.Any())
                    {
                        <h4 class="header-title m-t-0 m-b-30">Danh sách nhà phân phối</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="filter-wrapper">
                                    <label>
                                        Hiển thị <select id="dataTables_showNumberSelect" aria-controls="dataTables-example" class="form-control input-sm">
                                            @if (Model.ItemOnPage == 10)
                                            {
                                                <option value="10" selected>10</option>
                                            }
                                            else
                                            {
                                                <option value="10">10</option>
                                            }
                                            @if (Model.ItemOnPage == 25)
                                            {
                                                <option value="25" selected>25</option>
                                            }
                                            else
                                            {
                                                <option value="25">25</option>
                                            }
                                            @if (Model.ItemOnPage == 50)
                                            {
                                                <option value="50" selected>50</option>
                                            }
                                            else
                                            {
                                                <option value="50">50</option>
                                            }
                                            @if (Model.ItemOnPage == 100)
                                            {
                                                <option value="100" selected>100</option>
                                            }
                                            else
                                            {
                                                <option value="100">100</option>
                                            }
                                        </select>
                                    </label>
                                </div>
                            </div><div class="col-sm-6">
                                <div class="search-wrapper">
                                    @if (string.IsNullOrWhiteSpace(Model.SearchText))
                                    {
                                        <label><button type="button" id="dataTables_search" class="btn btn-default btn-sm"><i class="fa fa-search"></i></button> <input type="search" id="dataTables_show_item_search" class="form-control input-sm" placeholder="" aria-controls="datatable-fixed-header"></label>
                                    }
                                    else
                                    {
                                        <label><button type="button" id="dataTables_search" class="btn btn-default btn-sm"><i class="fa fa-search"></i></button> <input type="search" id="dataTables_show_item_search" value="@Model.SearchText" class="form-control input-sm" placeholder="" aria-controls="datatable-fixed-header"></label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-wrapper">
                                    <table class="table table-striped dt-responsive nowrap no-footer dtr-inline" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th class="center" tabindex="0" rowspan="1" colspan="1">#</th>
                                                @if (Model.SortField.Equals("CompanyName"))
                                                {
                                                    if (Model.IsAsc)
                                                    {
                                                        <th class="center" tabindex="0" rowspan="1" data-sort="CompanyName" data-direction="desc" colspan="1">Tên công ty<i class="fa fa-fw fa-sort-asc"></i></th>
                                                    }
                                                    else
                                                    {
                                                        <th class="center" tabindex="0" rowspan="1" data-sort="CompanyName" data-direction="asc" colspan="1">Tên công ty <i class="fa fa-fw fa-sort-desc"></i></th>
                                                    }
                                                }
                                                else
                                                {
                                                    <th class="center" tabindex="0" rowspan="1" data-sort="CompanyName" data-direction="asc" colspan="1">Tên công ty <i class="fa fa-fw fa-sort-asc"></i></th>
                                                }
                                                @if (Model.SortField.Equals("SupplierContactName"))
                                                {
                                                    if (Model.IsAsc)
                                                    {
                                                        <th class="center" tabindex="0" rowspan="1" data-sort="SupplierContactName" data-direction="desc" colspan="1">Tên người liên hệ <i class="fa fa-fw fa-sort-asc"></i></th>
                                                    }
                                                    else
                                                    {
                                                        <th class="center" tabindex="0" rowspan="1" data-sort="SupplierContactName" data-direction="asc" colspan="1">Tên người liên hệ <i class="fa fa-fw fa-sort-desc"></i></th>
                                                    }
                                                }
                                                else
                                                {
                                                    <th class="center" tabindex="0" rowspan="1" data-sort="SupplierContactName" data-direction="asc" colspan="1">Tên người liên hệ<i class="fa fa-fw fa-sort-asc"></i></th>
                                                }

                                                @if (Model.SortField.Equals("Address"))
                                                {
                                                    if (Model.IsAsc)
                                                    {
                                                        <th class="center" tabindex="0" rowspan="1" data-sort="Address" data-direction="desc" colspan="1">Địa chỉ <i class="fa fa-fw fa-sort-asc"></i></th>
                                                    }
                                                    else
                                                    {
                                                        <th class="center" tabindex="0" rowspan="1" data-sort="Address" data-direction="asc" colspan="1">Địa chỉ <i class="fa fa-fw fa-sort-desc"></i></th>
                                                    }
                                                }
                                                else
                                                {
                                                    <th class="center" tabindex="0" rowspan="1" data-sort="Address" data-direction="asc" colspan="1">Địa chỉ <i class="fa fa-fw fa-sort-asc"></i></th>
                                                }
                                                @if (Model.SortField.Equals("Email"))
                                                {
                                                    if (Model.IsAsc)
                                                    {
                                                        <th class="center" tabindex="0" rowspan="1" data-sort="Email" data-direction="desc" colspan="1">Email <i class="fa fa-fw fa-sort-asc"></i></th>
                                                    }
                                                    else
                                                    {
                                                        <th class="center" tabindex="0" rowspan="1" data-sort="Email" data-direction="asc" colspan="1">Email<i class="fa fa-fw fa-sort-desc"></i></th>
                                                    }
                                                }
                                                else
                                                {
                                                    <th class="center" tabindex="0" rowspan="1" data-sort="Email" data-direction="asc" colspan="1">Email<i class="fa fa-fw fa-sort-asc"></i></th>
                                                }

                                                @if (Model.SortField.Equals("ProductType"))
                                                {
                                                    if (Model.IsAsc)
                                                    {
                                                        <th class="center" tabindex="0" rowspan="1" data-sort="ProductType" data-direction="desc" colspan="1">Loại sản phẩm <i class="fa fa-fw fa-sort-asc"></i></th>
                                                    }
                                                    else
                                                    {
                                                        <th class="center" tabindex="0" rowspan="1" data-sort="ProductType" data-direction="asc" colspan="1">Loại sản phẩm <i class="fa fa-fw fa-sort-desc"></i></th>
                                                    }
                                                }
                                                else
                                                {
                                                    <th class="center" tabindex="0" rowspan="1" data-sort="ProductType" data-direction="asc" colspan="1">Loại sản phẩm<i class="fa fa-fw fa-sort-asc"></i></th>
                                                }
                                                <th class="center" tabindex="0" rowspan="1" colspan="1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var i = 1; i <= Model.Suppliers.Count; i++)
                                            {
                                                <tr class="gradeA odd" role="row">
                                                    <td>@i</td>
                                                    <td>@Model.Suppliers[i - 1].SupplierCompanyName</td>
                                                    <td>@Model.Suppliers[i - 1].SupplierContactName</td>
                                                    <td>@Model.Suppliers[i - 1].Address</td>
                                                    <td>@Model.Suppliers[i - 1].Email</td>
                                                    <td>@Model.Suppliers[i - 1].ProductType</td>
                                                    <td>
                                                        <a class="action-link detail-link" title="Chi tiết" href="@Url.Action("ViewSupplierDetails", "Administrator", new { id = Model.Suppliers[i - 1].SupplierID })"><i class="fa fa-info-circle"></i></a>
                                                        <a class="action-link update-link" title="Cập nhật" href="@Url.Action("UpdateSupplier", "Administrator", new { id = Model.Suppliers[i - 1].SupplierID })"><i class="fa fa-pencil"></i></a>
                                                        <a class="action-link remove-link supplier" title="Xóa" href="#" data-url="@Url.Action("RemoveSupplier", "Administrator", new { id = Model.Suppliers[i - 1].SupplierID })"><i class="fa fa-remove"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="summary-status" role="status" aria-live="polite">Đang hiển thị record @Model.StartIndex tới @Model.EndIndex trong @Model.TotalNumber records</div>
                            </div>
                            <div class="col-sm-6">
                                <div class="pagination-wrapper">
                                    <ul class="pagination">
                                        @if (Model.CurrentPage == 1)
                                        {
                                            <li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                                <a href="#">Trước</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                                                <a href="@Url.Action("ViewSupplier", "Administrator", new {page = Model.CurrentPage - 1, itemsPerPage = Model.ItemOnPage, searchText = Model.SearchText, sortField = Model.SortField, isAsc = Model.IsAsc})">Trước</a>
                                            </li>
                                        }

                                        @for (var i = 0; i < 5; i++)
                                        {
                                            if ((Model.CurrentPage + i) <= Model.TotalPage)
                                            {
                                                if (i == 0)
                                                {
                                                    <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
                                                        <a href="@Url.Action("ViewSupplier", "Administrator", new {page = Model.CurrentPage + i, itemsPerPage = Model.ItemOnPage, searchText = Model.SearchText, sortField = Model.SortField, isAsc = Model.IsAsc})">@((Model.CurrentPage + i).ToString())</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="paginate_button" aria-controls="dataTables-example" tabindex="0">
                                                        <a href="@Url.Action("ViewSupplier", "Administrator", new { page = Model.CurrentPage + i, itemsPerPage = Model.ItemOnPage, searchText = Model.SearchText, sortField = Model.SortField, isAsc = Model.IsAsc })">@((Model.CurrentPage + i).ToString())</a>
                                                    </li>
                                                }
                                            }
                                        }

                                        @if (Model.CurrentPage == Model.TotalPage)
                                        {
                                            <li class="paginate_button next disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                                                <a href="#">Sau</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                                                <a href="@Url.Action("ViewSupplier", "Administrator", new {page = Model.CurrentPage + 1, itemsPerPage = Model.ItemOnPage, searchText = Model.SearchText, sortField = Model.SortField, isAsc = Model.IsAsc})">Sau</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h5>Chưa có nhà phân phối nào được lưu trong cơ sở dữ liệu. Vui lòng đăng ký tại <a href="@Url.Action("AddSupplier", "Administrator")">đây</a></h5>
                    }

                </div>
            </div>
        </div><!-- end col -->
    </div>
</div>


@section Scripts
{
    <script src="@Url.Content("~/Scripts/Admin/supplier.js")"></script>
}