@model _170516.Models.Administrator.ViewOrderDetailsModel
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="main-content-wrapper">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li class="active">
                        <a href="@Url.Action("ViewOrder", "Administrator")">Quản lý đơn hàng</a>

                    </li>
                    <li class="active">Chi tiết đơn hàng</li>
                </ol>
                <div class="container-fluid admin-header">
                    <div class="title col-md-6 col-xs-6"><h3>Chi tiết Đơn Hàng @Model.OrderID</h3></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-lg-12 detail-view">
                        <fieldset class="form-group">
                            <!-- PRODUCT NAME -->
                            <div class="form-group col-sm-10">
                                <label class="col-sm-3 control-label" for="">Số đơn hàng</label>
                                <div class="col-sm-7">
                                    <p class="info-box">@Model.Order.OrderNumber</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-10">
                                <label class="col-sm-3 control-label" for="">Trạng thái đơn hàng</label>
                                <div class="col-sm-7">
                                    <p class="info-box">@Model.Order.OrderStatusToUser</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-10">
                                <label class="col-sm-3 control-label" for="">Tên khách hàng</label>
                                <div class="col-sm-7">
                                    <p class="info-box">
                                        <a class="no-underline" href="@Url.Action("ViewCustomerDetails", "Administrator", new { id = Model.Order.CustomerID })">@Model.Order.CustomerName</a>
                                    </p>
                                </div>
                            </div>                            
                            <div class="form-group col-sm-10">
                                <label class="col-sm-3 control-label" for="">Ngày đặt hàng</label>
                                <div class="col-sm-7">
                                    <p class="info-box">@Model.Order.OrderDate.ToShortDateString()</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-10">
                                <label class="col-sm-3 control-label" for="">Shipper</label>
                                <div class="col-sm-7">
                                    <p class="info-box">
                                        <a class="no-underline" href="@Url.Action("ViewShipperDetails", "Administrator", new { id = Model.Order.ShipperID })">@Model.Order.ShipperCompanyName</a>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group col-sm-10">
                                <label class="col-sm-3 control-label" for="">Ngày ship</label>
                                <div class="col-sm-7">
                                    <p class="info-box">
                                        @if (Model.Order.ShipDate != null)
                                        {
                                            <span>@Model.Order.ShipDate.Value.ToShortDateString()</span>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-sm-10">
                                <label class="col-sm-3 control-label" for="">Ngày trả tiền</label>
                                <div class="col-sm-7">
                                    <p class="info-box">
                                        @if (Model.Order.PaymentDate != null)
                                        {
                                            <span>@Model.Order.PaymentDate.Value.ToString("dd/MM/yyyy")</span>
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-sm-10">
                                <label class="col-sm-3 control-label" for="">Tiền cước</label>
                                <div class="col-sm-7">
                                    <p class="info-box">
                                        @Html.DisplayFor(model => model.Order.Freight)
                                    </p>
                                </div>
                            </div>
                            <div class="form-group col-sm-10">
                                <label class="col-sm-3 control-label" for="">Tiền thuế</label>
                                <div class="col-sm-7">
                                    <p class="info-box">@Html.DisplayFor(model => model.Order.SalesTax)</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-10">
                                <label class="col-sm-3 control-label" for="">Tổng đơn hàng</label>
                                <div class="col-sm-7">
                                    <p class="info-box">@Html.DisplayFor(model => model.Order.TotalIncome)</p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                @if (Model.OrderDetails.Any())
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="hidden" id="dataTables_sort_field_hidden" value="@Model.SortField" />
                            <input type="hidden" id="dataTables_sort_direction_hidden" value="@Model.IsAsc" />
                            @Html.HiddenFor(model => model.OrderID)
                            @Html.HiddenFor(model => model.SearchText)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 dataTable_grid">
                            <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTable_orderDetails" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="center" tabindex="0" rowspan="1" colspan="1">#</th>
                                        @if (Model.SortField.Equals("OrderID"))
                                        {
                                            if (Model.IsAsc)
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="OrderID" data-direction="desc" colspan="1">Order ID<i class="fa fa-fw fa-sort-asc"></i></th>
                                            }
                                            else
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="OrderID" data-direction="asc" colspan="1">Order ID <i class="fa fa-fw fa-sort-desc"></i></th>
                                            }
                                        }
                                        else
                                        {
                                            <th class="center" tabindex="0" rowspan="1" data-sort="OrderID" data-direction="asc" colspan="1">Order ID <i class="fa fa-fw fa-sort-asc"></i></th>
                                        }
                                        @if (Model.SortField.Equals("ProductName"))
                                        {
                                            if (Model.IsAsc)
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="ProductName" data-direction="desc" colspan="1">Tên sản phẩm <i class="fa fa-fw fa-sort-asc"></i></th>
                                            }
                                            else
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="ProductName" data-direction="asc" colspan="1">Tên sản phẩm <i class="fa fa-fw fa-sort-desc"></i></th>
                                            }
                                        }
                                        else
                                        {
                                            <th class="center" tabindex="0" rowspan="1" data-sort="ProductName" data-direction="asc" colspan="1">Tên sản phẩm<i class="fa fa-fw fa-sort-asc"></i></th>
                                        }

                                        @if (Model.SortField.Equals("Price"))
                                        {
                                            if (Model.IsAsc)
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="Price" data-direction="desc" colspan="1">Giá <i class="fa fa-fw fa-sort-asc"></i></th>
                                            }
                                            else
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="Price" data-direction="asc" colspan="1">Giá<i class="fa fa-fw fa-sort-desc"></i></th>
                                            }
                                        }
                                        else
                                        {
                                            <th class="center" tabindex="0" rowspan="1" data-sort="Price" data-direction="asc" colspan="1">Giá<i class="fa fa-fw fa-sort-asc"></i></th>
                                        }
                                        @if (Model.SortField.Equals("Quantity"))
                                        {
                                            if (Model.IsAsc)
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="Quantity" data-direction="desc" colspan="1">Số lượng <i class="fa fa-fw fa-sort-asc"></i></th>
                                            }
                                            else
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="Quantity" data-direction="asc" colspan="1">Số lượng<i class="fa fa-fw fa-sort-desc"></i></th>
                                            }
                                        }
                                        else
                                        {
                                            <th class="center" tabindex="0" rowspan="1" data-sort="Quantity" data-direction="asc" colspan="1">Số lượng<i class="fa fa-fw fa-sort-asc"></i></th>
                                        }
                                        
                                        @if (Model.SortField.Equals("Size"))
                                        {
                                            if (Model.IsAsc)
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="Size" data-direction="desc" colspan="1">Size <i class="fa fa-fw fa-sort-asc"></i></th>
                                            }
                                            else
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="Size" data-direction="asc" colspan="1">Size<i class="fa fa-fw fa-sort-desc"></i></th>
                                            }
                                        }
                                        else
                                        {
                                            <th class="center" tabindex="0" rowspan="1" data-sort="Size" data-direction="asc" colspan="1">Size<i class="fa fa-fw fa-sort-asc"></i></th>
                                        }
                                        @if (Model.SortField.Equals("Total"))
                                        {
                                            if (Model.IsAsc)
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="Total" data-direction="desc" colspan="1">Tổng <i class="fa fa-fw fa-sort-asc"></i></th>
                                            }
                                            else
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="Total" data-direction="asc" colspan="1">Tổng<i class="fa fa-fw fa-sort-desc"></i></th>
                                            }
                                        }
                                        else
                                        {
                                            <th class="center" tabindex="0" rowspan="1" data-sort="Total" data-direction="asc" colspan="1">Tổng<i class="fa fa-fw fa-sort-asc"></i></th>
                                        }
                                        @if (Model.SortField.Equals("IsFulfilled"))
                                        {
                                            if (Model.IsAsc)
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="IsFulfilled" data-direction="desc" colspan="1">Trạng thái <i class="fa fa-fw fa-sort-asc"></i></th>
                                            }
                                            else
                                            {
                                                <th class="center" tabindex="0" rowspan="1" data-sort="IsFulfilled" data-direction="asc" colspan="1">Trạng thái<i class="fa fa-fw fa-sort-desc"></i></th>
                                            }
                                        }
                                        else
                                        {
                                            <th class="center" tabindex="0" rowspan="1" data-sort="IsFulfilled" data-direction="asc" colspan="1">Trạng thái<i class="fa fa-fw fa-sort-asc"></i></th>
                                        }

                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 1; i <= Model.OrderDetails.Count; i++)
                                    {
                                        <tr class="gradeA odd" role="row" data-url="@Model.OrderDetails[i - 1].OrderDetailID">
                                            <td>@i</td>
                                            <td>@Model.OrderDetails[i - 1].OrderID</td>
                                            <td>@Model.OrderDetails[i - 1].ProductName</td>
                                            <td>
                                                @Html.DisplayFor(model => model.OrderDetails[i - 1].Price)
                                            </td>
                                            <td>
                                                <label id="Quantity">@Model.OrderDetails[i - 1].Quantity</label>
                                            </td>                                           
                                            <td>
                                                <label id="Size">@Model.OrderDetails[i - 1].Size</label>
                                            <td>
                                                @Html.DisplayFor(model => model.OrderDetails[i - 1].Total)
                                            </td>
                                            <td>
                                                @if (Model.OrderDetails[i - 1].IsFulfilled)
                                                {
                                                    <span id="IsFulfilled" class="btn-success">Đã xong</span>
                                                }
                                                else
                                                {
                                                    <span id="IsFulfilled" class="btn-info">Chưa giao</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" role="status" aria-live="polite">Hiển thị từ @Model.StartIndex tới @Model.EndIndex trong @Model.TotalNumber sản phẩm</div>
                        </div>
                    </div>
                }
                else
                {
                    <h5>Không có sản phẩm nào trong đơn hàng này</h5>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="@Url.Content("~/Scripts/Admin/order.js")"></script>
}
