@model _170516.Models.Administrator.ViewProductCategoryItem
@{
    ViewBag.Title = "ViewProductCategoryDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="content-box-large">
            <div class="panel-heading">
                @*nav bar*@
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("ViewProductCategory","Administrator")">Quản Lý Danh mục</a></li>
                    <li class="active">Chi tiết Danh mục</li>
                </ol>
                <div class="panel-title title-3">@Model.Name</div>
            </div>
            <div class="panel-body">                
                    <div class="form-horizontal">
                        <div class="row">                            
                            <div class="col-md-8 col-lg-8">
                                <!-- PRODUCT CATEGORY NAME -->
                                @Html.HiddenFor(model => model.CategoryID)
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductName">Tên Danh mục <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <span class="info-box">@Model.Name</span>
                                     </div>
                                </div>
                                <!-- PRODUCT CATEGORY DESCRIPTION -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ProductName">Mô tả <span class="text-danger">*</span></label>
                                    <div class="col-sm-7">
                                        <span class="info-box">@Model.Description</span>
                                    </div>
                                </div>
                                <!-- PRODUCT CATEGORY PARENT -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="ParentID">Danh Mục cha</label>
                                    <div class="col-sm-7">
                                        <span class="info-box">@Model.ParentCategoryName</span>
                                     </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Ảnh Danh mục</label>
                                    <!-- IMAGE -->
                                    <div class="image-box">
                                        @if (string.IsNullOrEmpty(Model.CategoryImage))
                                        {
                                            <img id="ImageBox" src="~/Content/Image/image_placeholder.jpg" class="image-box" />
                                        }
                                        else
                                        {
                                            <img id="ImageBox" src="@Model.CategoryImage" class="image-box" />
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>                        

                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="form-group">
                                    <div class="col-md-12 form-button">
                                        <button class="btn btn-primary" type="button" id="btnUpdateCategoryLink"><i class="glyphicon glyphicon-floppy-disk"></i> Chỉnh sửa</button>
                                        <button class="btn btn-danger" type="button" id="btnDeleteProductCategory"><i class="glyphicon glyphicon-remove"></i> Xóa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Admin/category.js")"></script>
}

